<div id='view-estimate__box'>
  <div id="view-estimate__costs-header">
    <span class = "text-large">Costs</span>
    
    <%= link_to edit_estimate_costs_path(estimate) do %>
      <span id="view-estimate__edit">Edit</span>
    <% end %>
  </div>

  <% estimate.costs.summary_order.each do |cost| %>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text">
        <%= cost.description %>
      </div>
      <div id="view-estimate__cost-value">
        $<%= cost.amount %>
      </div>
    </div>
  <% end %>

  <div id='view-estimate__costs-totals'>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text-right">Subtotal</div>
      <div id="view-estimate__cost-value">$<%= estimate.total_cost %></div>
    </div>
  
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text-right"><b>Total</b></div>
      <div id="view-estimate__cost-value">$<%= estimate.total_cost_with_tax %></div>
    </div>
  </div>

</div>
