<%= render layout: 'estimates/show/collapsable_entry', locals: { title: "Costs - Total: #{estimate.total_cost_with_tax}" } do %>     
  <div id="view-estimate__costs-header">
    <span class = "text-large">Costs</span>

    <div>
      <% unless estimate.costs.discount.any? %>
        <%= link_to new_estimate_cost_path(estimate, discount: true) do %>
          <span id="view-estimate__edit">Add Discounts</span>
        <% end %>
      <% else %>
        <%= link_to edit_estimate_costs_path(estimate, discount: true) do %>
          <span id="view-estimate__edit">Edit Discounts</span>
        <% end %>
      <% end %> | 
      <%= link_to edit_estimate_costs_path(estimate) do %>
        <span id="view-estimate__edit">Edit</span>
      <% end %>
    </div>
    </div>

  <% estimate.costs.summary_order.each do |cost| %>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text">
        <%= cost.description %>
      </div>
      <div id="view-estimate__cost-value">
        $<%= cost.amount %>
      </div>
    </div>
  <% end %>

  <div id='view-estimate__costs-totals'>
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text-right">Subtotal</div>
      <div id="view-estimate__cost-value">$<%= estimate.total_cost %></div>
    </div>
  
    <div id='view-estimate__costs-row'>
      <div id="view-estimate__costs-text-right"><b>Total</b></div>
      <div id="view-estimate__cost-value">$<%= estimate.total_cost_with_tax %></div>
    </div>

  </div>

<% end %>
