<%= render layout: 'estimates/show/collapsable_entry', locals: { title: "Invoice - ##{invoice.number}" } do %>
  <div id="view-estimate__main-header">
    <span class = "text-large">Invoice</span>

    <div>
      <%= link_to new_invoice_path(estimate_id: invoice.estimate.id) do %>
        Resend Invoice
      <% end %>
      |
      <%= link_to edit_invoice_path(invoice, form_option: 'edit_details') do %>
        <span id="view-estimate__edit">Edit</span>
      <% end %>
    </div>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Number
    </div>
    <div>
      <%= "##{invoice.number}" %>
    </div>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Payment Method
    </div>
    <div>
      <%= invoice.payment_method %>
    </div>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Paid?
    </div>
    <div>
      <%= invoice.paid ? "Yes" : "No" %>
    </div>
  </div>

  <% if invoice.paid %>
    <div id ="view-estimate__row">
      <div id="single-estimate-entry__action-button" style="width: 100%;">
        <%= link_to "/quotes/receipt?estimate_id=#{invoice.estimate.id}", id: "single-estimate__details-link" do %>
            Receipt
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>
