<% site = estimate.site %>

<%= render layout: 'estimates/show/collapsable_entry', locals: { title: "Site Info - #{site.full_address}" } do %>     
  <div id="view-estimate__main-header">
    <span class = "text-large">Site</span>
    
    <%= link_to edit_estimate_site_path(estimate_id: site.estimate.id, id: site.id) do %>
      <span id="view-estimate__edit">Edit</span>
    <% end %>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Address
    </div>
    <div>
      <%= site.full_address %>
    </div>
  </div>

  <% unless estimate.stumping_only %>
    <div id='view-estimate__row'>

      <div id='view-estimate__row-entry'>
        <div id="view_estimate__entry-header">
          Vehicle Access
        </div>
        <div>
          <%= site.answer_for(:vehicle_access) %>
        </div>
      </div>

      <div id='view-estimate__row-entry'>
        <div id="view_estimate__entry-header">
          Breakables
        </div>
        <div>
          <%= site.answer_for(:breakables) %>
        </div>
      </div>
      
    </div>

    <div id='view-estimate__row'>

      <div id='view-estimate__row-entry'>
        <div id="view_estimate__entry-header">
          Wood Removal
        </div>
        <div>
          <%= site.answer_for(:wood_removal) %>
        </div>
      </div>

      <div id='view-estimate__row-entry'>
        <div id="view_estimate__entry-header">
          Complete Cleanup
        </div>
        <div>
          <%= site.answer_for(:cleanup) %>
        </div>
      </div>

    </div>

    

    <div id='view-estimate__row'>


      <% unless site.access_width %>
        <div id='view-estimate__row-entry'>
          <div id="view_estimate__entry-header">
            Access width under 36 inches?
          </div>
          <div>
            <%= site.answer_for(:low_access_width) %>
          </div>
        </div>
      <% else %>
        <div id='view-estimate__row-entry'>
          <div id="view_estimate__entry-header">
            Gate Width
          </div>
          <div>
            <%= site.should_display_access? ? site.access_width : 'N/A' %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
<% end %>
