<%= render layout: 'estimates/show/collapsable_entry', locals: { title: 'Timeline' } do %>
  <div id="view-estimate__box-header">
    <span class = "text-large">Timeline</span>
  </div>

  <div id="view-estimate__timeline-row">
    <span id="view-estimate__timeline-header">
      Date requested: 
    </span>
    <span id="view-estimate__timeline-entry">
      <%= estimate.created_at.strftime("%B %d, %Y") %>
    </span>
  </div>

  <% if estimate.quote_sent_date.present? %>
    <div id="view-estimate__timeline-row">
      <span id="view-estimate__timeline-header">
        Quote sent:
      </span>
      <span id="view-estimate__timeline-entry">
        <%= estimate.quote_sent_date.strftime("%B %d, %Y") %>
      </span>
    </div>
  <% end %>

  <% if estimate.work_date.present? %>
    <div id="view-estimate__timeline-row">
      <div id="view-estimate__edit-row">
        <span id="view-estimate__timeline-header">
          Work Scheduled For:
        </span>
        <%= link_to edit_estimate_path(estimate, form_option: 'set_work_date') do %>
          Edit
        <% end %>
      </div>


      <span id="view-estimate__timeline-entry">
        <%= estimate.work_date.strftime("%B %d, %Y") %>
      </span>
    </div>
  <% end %>
<% end %>
