
<script>
  var clicky = function(){
    var modal = document.getElementById('myModal');
    modal.style.display = "none";
  }
</script>

<%= render layout: 'estimates/show/collapsable_entry', locals: { title: "Tree Info - #{estimate.trees.count} #{estimate.trees.count > 1 ? 'Trees' : 'Tree'}" } do %>
  <div id="view-estimate__main-header">
    <span class = "text-large">Tree Details</span>
  </div>

<% estimate.trees.each_with_index do |tree, i| %>
  <div id="view-estimate__tree-header" >Tree #<%= i + 1 %> - <%= tree.work_name %></div>

  <% if tree.work_type == 'removal' || tree.work_type == 'stump_removal' %>
    <div id="view-estimate__stump">
      <b>Stump Removal: </b> <%= tree.stump_removal_answer %> <br />
      <% if tree.stump_removal_answer == 'Yes' %>
        <b>In Backyard: </b> <%= tree.in_backyard ? "Yes" : "No" %>
      <% end %>
    </div>
  <% end %>

  <% if tree.description.present? %>
    <b>Customer Description</b>
    <div id="view-estimate__description">
      <%= tree.description %>
    </div>
  <% end %>
  

  <div id="trees__image-container">
    <% tree.tree_images.each_with_index do |tree_image, j| %>
      <% image_id = "tree_#{i}_image_#{j}"%>
      <div id="trees__single-image-container">
        <img id=<%= image_id %> src="<%= tree_image.asset.url%>" class="trees__image" onClick='openModal("<%= image_id.to_s %>")'>
      </div>

      <script>
        
      </script>
    <% end %>
  </div>

<% end %>

<% end %>

<script>
// Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");

  var openImage = function(src){
    modal.style.display = "block";
    modalImg.src = src;
  }
</script>
