<div class = "header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			<h1>Discounts</h1>
		</div>
	</div>
</div>

<div class="page-container">

We offer a variety of discounts that you can take advantage of. Take a look below and see which apply to you!

  <div id="discounts__box-outer">
    <div id="services__method-box-inner">
      <div id="services__method-box-steps">
        <%= 
          render 'main/components/single_step',
          step_number: 1,
          title: 'Sign Placement',
          content: "We offer a $20 discount for a yard sign placement for the month of May.",
          is_final: false,
          is_long: true
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 2,
          title: 'Review',
          content: 'Leave us a positive Google review and you can count on another $20 discount! Find us <a href="https://www.google.com/maps/place/Big+Tree+Services/@43.6371287,-79.7467722,7z/data=!4m8!1m2!2m1!1sBig+Tree+Care!3m4!1s0x882b3e28bd1e129b:0x6eea8c6a4bada1d4!8m2!3d43.7700709!4d-79.666082" target="blank">Here</a>' ,
          is_final: false,
          is_long: false
        %> 

        <%= 
          render 'main/components/single_step',
          step_number: 3,
          title: 'Off Peak Work',
          content: 'We offer a larger $100 discount for work booked in February. We recommend you book soon!',
          is_final: true,
          is_long: false
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 4,
          title: 'Wood Removal',
          content: 'We can offer a discount if you are able to keep the wood and branches on site. The discount depends on the size of the job.',
          is_final: true,
          is_long: false
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 5,
          title: 'Business to Business Marketing',
          content: 'For businesses, we may be able to find a collaborative marketing arrangement. Please contact for details.',
          is_final: true,
          is_long: false
        %>  
      </div>
    </div>
  </div>

</div>
