<% content_for :title, "Permits" %>
<% content_for :description, "Tree removal permit requirements for Ontario, GTA, Toronto, Markham, Brampton" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Permits
		</div>
	</div>
</div>

<div class="page-container">
  <div class = "static-page-content">
    For most tree removal jobs, a permit will be required from your municipality. We are happy to assist you with this process. 
    Please choose your city below for details on how to proceed.

    <div id="permits__select-container">
      My City:
      <%= 
        select_tag 'city',
        options_for_select([['Toronto and the GTA', 'toronto'], ['Vaughan', 'vaughan'], ['Brampton', 'brampton'], ['Mississauga', 'mississauga'], ['Markham', 'markham'], ['Other', 'other']]),
        include_blank: 'Select a city',
        id: 'permits__select',
        onChange: "selectCity();"
      %>
    </div>

    <%= render '/main/components/permits/toronto' %>
    <%= render '/main/components/permits/brampton' %>
    <%= render '/main/components/permits/vaughan' %>
    <%= render '/main/components/permits/mississauga' %>
    <%= render '/main/components/permits/markham' %>
    <%= render '/main/components/permits/other' %>

  </div>
</div>

<script>
  const cities = ['toronto', 'vaughan', 'brampton', 'mississauga', 'markham', 'other'];

  function selectCity(){
    cities.forEach(city => {
      var elem = document.getElementById(city);
      if(elem){
        elem.style.display = 'none';
      }
    })
    var toSelect = document.getElementById('permits__select').value;
    document.getElementById(toSelect).style.display = 'flex';
  }
</script>
