<script>
  function scrollToEstimate(){
    var hash = (window.location.hash).replace('#', '');

    if(hash.length > 0 && hash == 'estimate'){
        setTimeout(function(){ 
          document.getElementById('stumping__estimate').scrollIntoView({ 
          behavior: 'smooth' 
        }); 
      }, 100);

    }
   
  }
</script>

<% content_for :title, "Tree Removal" %>
<% content_for :description, "Tree removal services in Ontario, Toronto and the GTA" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Tree Removal
		</div>
	</div>
</div>

<div class="page-container">

  <div id="services__content-box">
    <div id="services__content-text">
      Tree removal is the most common type of tree service we perform, it's our bread and butter. Trust in our experience to get the job done safely and at a fair price.
      <br /><br />
      Many tree removal jobs can be very complex, and mistakes can be costly. Always ensure that any arborist you work with is qualified, experienced and insured.
      <br /><br />
      The cost of a tree removal can vary greatly depending on the size and complexity of your job. Please fill out the form below, and we'll get back to you asap with a free estimate.
    </div>

    <%= image_tag("TreeCutting.jpg", id: "services__content-image") %>
  </div>

  <div id="services__method-box">
    <div id="services__method-box-header">
      <div id="services__method-box-title">
        Our Method
      </div>
    </div>

    <div id="services__method-box-inner">
      <div id="services__method-box-steps">
        <%= 
          render 'main/components/single_step',
          step_number: 1,
          title: 'Assess',
          content: 'Identify, assess and determine the best approach for the safe removal of the tree. We will submit arborist reports to the city, if necessary.'
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 2,
          title: 'Cut',
          content: 'Whether we use a bucket truck, an off road lift or climbing, we will safely cut down the tree without causing damage to any property. Of course, we are fully insured by WSIB in case of any unforseen issues.'
        %> 

        <%= 
          render 'main/components/single_step',
          step_number: 3,
          title: 'Clean',
          content: 'We will clean up all branches and debris from your site. You also have the option of keeping the wood for your own use, which saves from hauling it away and saves you the cost of removal.'
        %> 
      </div>
    </div>
  </div>

  <div id="services__estimate">
    <%= render 'estimate_forms/cutting_form/container' %>
  </div>

</div>
