<script>
  function scrollToEstimate(){
    var hash = (window.location.hash).replace('#', '');

    if(hash.length > 0 && hash == 'estimate'){
        setTimeout(function(){ 
          document.getElementById('services__estimate').scrollIntoView({ 
          behavior: 'smooth' 
        }); 
      }, 100);

    }
   
  }
</script>

<% content_for :title, "Stump Grinding" %>
<% content_for :description, "Stump griding services in Ontario, Toronto and the GTA" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Stump Grinding
		</div>
	</div>
</div>

<div class="page-container">

  <div id="services__content-box">
    <div id="services__content-text">
      Grinding is the most common and effective way to remove unsightly stumps from your yard. Using this method, we can grind the stump up to 12" beneath the surface, fill the resulting hole, and leave your lawn clean. 
      <br /><br />
      The team at BigTrees uses a top of the line stump grinder to complete the job quickly, safely and effectively. We can handle stumps of all shapes and sizes, and
      our equipment can fit through a standard 36" backyard gate.
      <br /><br />
      The cost of an average stump removal is between $75 and $250 depending on the location, size and depth. There is an additional cost to dispose of the woodchips (optional). 
    </div>

    <%= image_tag("StumpGrinder.jpg", id: "services__content-image") %>
  </div>

  <div id="services__method-box">
    <div id="services__method-box-header">
      <div id="services__method-box-title">
        Our Method
      </div>
    </div>

    <div id="services__method-box-inner">
      <div id="services__method-box-steps">
        <%= 
          render 'main/components/single_step',
          step_number: 1,
          title: 'Measure',
          content: "The stump is assessed, measured, and the appropriate grinding depth is determined. Often times an application to dig (called a Locate) is required before a depth of more than 4\" can be attempted. If we hit gas lines or power lines while digging it may kill us. And if we hit the cable lines, you won't have tv! If necessary, we will handle the Locate application process free of charge.",
          is_final: false,
          is_long: true
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 2,
          title: 'Grind',
          content: 'With multiple passes, the stump is slowly ground into mulch until the desired depth is reached, and all surface roots are gone.',
          is_final: false,
          is_long: false
        %> 

        <%= 
          render 'main/components/single_step',
          step_number: 3,
          title: 'Fill',
          content: 'The resulting hole is filled using the created mulch. This can be left as-is, or replaced with topsoil for an additional cost.',
          is_final: true,
          is_long: false
        %> 
      </div>
    </div>
  </div>

  <div id="services__estimate">
    <%= render 'estimate_forms/stumping_form/container' %>
  </div>
  <script>
    $(window).bind("load", function() {
      scrollToEstimate();
    });
  </script>
</div>
