<% content_for :title, "Stump Grinding services Services" %>
<% content_for :description, "Stump griding services in Ontario, Toronto and the GTA" %>

<div class = "row header-image sub-page-header">
	<div class = "sub-page-header-title">
		<div class = "sub-page-header-text">
			Stump Grinding
		</div>
	</div>
</div>

<div class="page-container">

  <div id="stumping__content-box">
    <div id="stumping__content-text">
      Grinding is the most common and effective way to remove unsightly stumps from your yard. Using this method, we can grind the stump up to 12" beneath the surface, fill the resulting hole, and leave your lawn clean. 
      <br /><br />
      The team at BigTrees uses a top of the line stump grinder to complete the job quickly, safely and effectively. We can handle stumps of all shapes and sizes, and
      our equipment can fit through a standard 36" backyard gate.
      <br /><br />
      The cost of an average stump removal is between $75 and $250 depending on the location, size and depth.
    </div>

    <%= image_tag("StumpGrinder.jpg", id: "stumping__content-image") %>
  </div>

  <div id="stumping__method-box">
    <div id="stumping__method-box-header">
      <div id="stumping__method-box-title">
        Our Method
      </div>
    </div>

    <div id="stumping__method-box-inner">
      <div id="stumping__method-box-image">
        <%= image_tag('StumpGrinder2-min.jpg', id: 'stumping__steps-image') %>
      </div>

      <div id="stumping__method-box-steps">
        <%= 
          render 'main/components/single_step',
          step_number: 1,
          title: 'Measure',
          content: 'The stump is assessed, measured, and the appropriate grinding depth is determined. If necessary, we will schedule for the telecommunications companies to do an inspection of the area for any underground utilty/gas lines free of charge.',
          is_final: false,
          is_long: true
        %>

        <%= 
          render 'main/components/single_step',
          step_number: 2,
          title: 'Grind',
          content: 'With multiple passes, the stump is slowly ground into mulch until the desired depth is reached.',
          is_final: false,
          is_long: false
        %> 

        <%= 
          render 'main/components/single_step',
          step_number: 3,
          title: 'Fill',
          content: 'The resulting hole is filled using the created mulch. This can be left as-is, or replaced with topsoil for an additional cost.',
          is_final: true,
          is_long: false
        %> 
      </div>
    </div>
  </div>

  <div id="stumping__estimate">
    <%= render 'stumping_form/container' %>
  </div>

</div>
