<script>
  function submitQuantity(){
    let quantity = document.querySelector('input[name="estimate[tree_quantity]"]:checked').value

    let params = {
      estimate:{
        tree_quantity: quantity
      }
    }
    // Set quantity from form data
    totalTrees = quantity;

    // postApi(
    //   '/requests', 'POST', params
    // )
    // .then(function(response){


    // });

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST", '/requests');
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){
      console.log(xmlhttp.response);
      let response = JSON.parse(xmlhttp.response)
      estimateId = response.estimate_id;
      console.log(estimateId);
      
      $("#quantity-container").fadeOut(600, function(){
        $("#site-container").fadeIn(600);
      });
    }

  }
</script>

<%= form_tag("#", method: 'post', id:'quantity-form' ) do %>

<div id='estimate-form__container'>
  <div id='estimate-form__question'>
    <%= question  %>
  </div>

  <div id="estimate-form__radio-buttons">

    <%= 
      render 'form_components/radio_box', 
      name: 'estimate[tree_quantity]',
      label: '1',
      value: 1,
      checked: true
    %>

    <%= 
      render 'form_components/radio_box', 
      name: 'estimate[tree_quantity]',
      label: '2',
      value: 2,
      checked: false
    %>

    <%= 
      render 'form_components/radio_box', 
      name: 'estimate[tree_quantity]',
      label: '3',
      value: 3,
      checked: false
    %>

  </div>

  <div id="estimate-form__quantity-question">
    <div id="estimate-form__subtext">
      For estimates of 4 or more, please <%= link_to "Contact Us", pages_path(page: "contact_us"), :id => "estimate-form__link" %>
    </div>
  </div>

  <div id='estimate-form__submit' onClick="submitQuantity();" >
    Next
  </div>
</div>
<% end %>
