<script>
  function getPageTitle(){
    return "Tree #" + treeNumber
  }

  function setupForm(){
    let type = document.getElementById('tree-work-select').value;

    let stumpRemoval = document.getElementById('stump-removal');
    let stumpRemovalField = document.querySelector('input[name="stump_removal"]:checked')
    let stumpBackyard = document.getElementById('stump-backyard');

    if(type == 'Tree Removal'){
      stumpRemoval.style.display = 'block';
    }
    else{
      stumpRemoval.style.display = 'none';
    }

    if(type == 'Tree Removal' || type == 'Stump Removal'){
      if(stumpRemovalField.value == 'true' || type == 'Stump Removal'){
        stumpBackyard.style.display = 'flex';
      }
      else{
        stumpBackyard.style.display = 'none';
      }
    }

    let description = document.getElementById('description')

    if(type == 'Trim' || type == 'Broken Limbs'){
      description.style.display = 'block';
      stumpBackyard.style.display = 'none';
    }
    else{
      description.style.display = 'none';
    }
  }

  function submitTree(){
    toggleLoading();

    let workType = document.querySelector('select[name="work_type"]').value;
    let stumpRemovalField = document.querySelector('input[name="stump_removal"]:checked');
    let descriptionField = document.querySelector('textarea[name="description"]');
    let backyardField = document.querySelector('input[name="in_backyard"]:checked').value;

    let stumpRemoval = null;
    let description = null;

    if(stumpRemovalField != null){
      stumpRemoval = stumpRemovalField.value;
    }

    if(descriptionField != null){
      description = descriptionField.value; 
    }

    var treeImages = document.querySelectorAll('input[name^="tree_images"]');
    var sendImage = false;
    const formData = new FormData();

    for(i=0; i<treeImages.length; i++){
      sendImage = true;
      var file = treeImages[i].files[0];
      if(file != null){
        formData.append('images[]', file, file.name);
      }
    }

    if((workType == 'Tree Removal' || workType == 'Stump Removal') && backyardField == 'true'){
      displayAccess = true;
    }
  
    let params = {
      estimate_id: estimateId,
      tree:{
        work_type_string: workType,
        stump_removal: stumpRemoval,
        description: description,
        in_backyard: backyardField
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST", `/trees`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){ 
      let response = JSON.parse(xmlhttp.response)
      if(sendImage){
        var imageHttp = new XMLHttpRequest();

        imageHttp.open("POST", `/tree_images?tree_id=${response.tree_id}`);
        imageHttp.send(formData);

        imageHttp.onload = function(){ 
          console.log("images uploaded");
          advanceTree();
        }
      }
      else{
        advanceTree();
      }

    } 
  }

  function setTreePageTitle(){
    document.getElementById("tree-page-title").innerHTML = "Tree #" + treeNumber
  }

  function setLabels(){
    document.getElementById('work-label').innerHTML = `What type of work do you need for ${getPageTitle()}?`;
    document.getElementById('image-label').innerHTML = `Upload a few images of ${getPageTitle()} (optional)`;
  }

  function advanceTree(){
    if(treeNumber < totalTrees){
      treeNumber += 1;

      $("#tree-container").fadeOut(600, function(){
        document.getElementById("tree-form").reset();
        toggleLoading();
        setTreePageTitle();
        setLabels();
        $("#tree-container").fadeIn(600);
      });
    }
    else{
      nextForm();
    }
  }

  var loading = false;

  function toggleLoading(){
    let submit = document.getElementById("estimate-form__tree-submit");
    let loadingIcon = document.getElementById("estimate-form__loading");

    if(!loading){
      loading = true;
      submit.style.display = "none";
      loadingIcon.style.display = "flex";
    }
    else{
      loading = false;
      submit.style.display = "flex";
      loadingIcon.style.display = "none";
    }
  }

  
</script>

<%= form_tag('/', method: 'post', id: 'tree-form') do %>

  <div id='estimate-form__container'>
    <div id='estimate-form__question'>
      <span id="tree-page-title">Tree #1</span>
    </div>

    <div class='estimate-form__field-group'>
      <div class='estimate-form__label' id='work-label'>
        What type of work do to need?
      </div>

      <script>
        document.getElementById('work-label').innerHTML = `What type of work do you need for ${getPageTitle()}?`;
      </script>

      <%= select_tag 'work_type',
        options_for_select(Tree::WORK_TYPES),
        id: 'tree-work-select',
        class: 'estimate-form__select-field',
        onChange: "setupForm();"  
      %>
    </div>

    <div class='estimate-form__field-group' id='stump-removal'>
      <div class='estimate-form__label'>
        Do you need the stump removed?
      </div>
      <div id='estimate-form__radio-question'>
        <%= 
          render 'form_components/radio_field',
          label: 'No',
          name: 'stump_removal',
          value: false,
          checked: true,
          onChange: "setupForm();"
        %>

        <%= 
          render 'form_components/radio_field',
          label: 'Yes',
          name: 'stump_removal',
          value: true,
          checked: false,
          onChange: "setupForm();"
        %>
      </div>
    </div>

    <div class='estimate-form__field-group' id='stump-backyard' style="display: none;">
      <div class='estimate-form__label'>
        Is the tree in your back yard?
      </div>
      <div id='estimate-form__radio-question'>
        <%= 
          render 'form_components/radio_field',
          label: 'No',
          name: 'in_backyard',
          value: false,
          checked: true
        %>

        <%= 
          render 'form_components/radio_field',
          label: 'Yes',
          name: 'in_backyard',
          value: true,
          checked: false
        %>
      </div>
    </div>

    <div class='estimate-form__field-group' id='description'>
      <div class='estimate-form__label'>
        Can you describe what needs to be done?
      </div>

      <%= text_area_tag 'description', '', id: 'estimate-form__desc-field' %>
    </div>

    <div class='estimate-form__uploader-group'>
      <div class='estimate-form__label' id="image-label">
        Upload a few images of Tree #1 (optional)
      </div>

      <script>
        //document.getElementById('image-label').innerHTML = `Upload a few images of ${getPageTitle()} (optional)`;
        setLabels();
      </script>
      <%= 
        render 'form_components/image_uploader',
        name: 'tree_images[0]',
        number: 1
      %>

      <%= 
        render 'form_components/image_uploader',
        name: 'tree_images[1]',
        number: 2
      %>

      <%= 
        render 'form_components/image_uploader',
        name: 'tree_images[2]',
        number: 3
      %>
    </div>


    <div id="estimate-form__tree-submit" onClick="submitTree();">
      Next
    </div>

    <div id="estimate-form__loading" style="display: none; justify-content: center; margin-top: 16px;">
      <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
    </div>

    <script>
      setupForm();
    </script>
  </div>  
<% end %>
