You have received a new estimate request on bigtreeservices.ca
<br />
<br />
<h3>Estimate</h3>
<p>
<b>Request From: </b><%= @estimate.person_name %> <br />
<b>Address: </b><%= @estimate.full_address %> <br /> <br />

<b>Contact By: </b><%= @estimate.preferred_contact_method%> <br />
<b>Contact At: </b><%= @estimate.contact_methods %> <br /><br />

<b>See the full estimate: </b> <a href=<%= "https://bigtreeservices.ca/admin/view_estimate?id=#{@estimate.id}" %>>Here</a>




</p>
