<%= render 'admin/common/back_button', back_link: estimates_path(autoscroll: true) %>

<h5>Estimate #<%= @estimate.id %><%= " - Stumping Only" if @estimate.stumping_only %></h5>
<%= render 'estimates/show/timeline', estimate: @estimate %>

<%= render 'estimates/show/customer', customer: @estimate.customer, location: estimate_path(@estimate) %>

<%= render 'estimates/show/site', estimate: @estimate %>


<% if @estimate.arborist.present? %>
  <%= render 'estimates/show/arborist', estimate: @estimate %>
<% end %>

<% if @estimate.costs.any? %>
  <%= render 'estimates/show/costs', estimate: @estimate %>
<% end %>

<% if @estimate.invoice && @estimate.invoice.sent_at? %>
  <%= render 'estimates/show/invoice', invoice: @estimate.invoice %>
<% end %>


<%= render 'estimates/show/trees', estimate: @estimate %>

<%= render 'estimates/show/next', estimate: @estimate %>
<%= render 'estimates/show/meeting', estimate: @estimate %>
<% if @estimate.arborist.present? %>
  <%= render 'estimates/show/quotes', estimate: @estimate %>
<% end%>


<%= render 'estimates/show/cancel', estimate: @estimate %>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  })
</script>
