<div class="admin__header">
  <h5>Repairs and Tools</h5>
</div>

<% if flash[:error] %>
  <div class='row error-message'>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class='row success-message'>
    <%= flash[:success] %>
  </div>
<% end %>

<div class="row">
  <%= form_for(@equipment_request, method: :post, html: { multipart: true, class: "col s12 m6 offset-m3"}) do |f| %>
  
    <div class="row">
      <div class="input-field col s12">
      <% categories = EquipmentRequest::CATEGORIES.map { |c| [c.capitalize, c] } %>
        <%= 
          f.select(
            :category,
            options_for_select(categories, categories.first),
            {},
            { required: true }
          ) 
        %>
        <%= f.label(:category, 'Category') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area(:description, required: true, class: 'materialize-textarea') %>
        <%= f.label(:description, 'Description') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= 
          f.select(
            :vehicle_id,
            options_for_select([['Other', nil], *Vehicle.all.map { |v| [v.name, v.id] }], ['Other', nil])
          ) 
        %>
        <%= f.label(:vehicle_id, 'Vehicle') %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Picture</span>
          <input type="file" name="equipment_request[image]">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field(:submitted_at, class: 'datepicker') %>
        <%= f.label(:submitted_at, 'Date') %>
      </div>
    </div>

    <div class="row">
      <%= submit_tag "Create", class: 'btn col s12 m6 offset-m3' %>
    </div>

  <% end %>

</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();

    var options = {
      defaultDate: new Date(),
      setDefaultDate: true
    };

    $('.datepicker').datepicker(options);
  });
</script>
