
<%= render 'admin/common/back_button', back_link: equipment_requests_path %>

<%= render 'equipment_requests/partials/single_request',
  equipment_request: @equipment_request,
  show_actions: false 
%>

<h5>Description</h5>
<p>
  <%= @equipment_request.description %>
</p>

<% if @equipment_request.image.present? %>
  <h5>Image</h5>
  <img class="materialboxed" style="max-width: 100%; margin-bottom: 16px;" src=<%= @equipment_request.image.url %> />

  <script>
    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
  </script>
<% end %>

<% if @equipment_request.may_resolve? %>
  <%= form_tag(equipment_request_resolve_path(@equipment_request), method: :post) do %>
    <div class="row">
      <%= submit_tag "Resolve", class: 'btn col s12 m6 offset-m3' %>
    </div>
  <% end %>
<% end %>
