<script>
  function startSend(){
    var submit = document.getElementById("submit-button");
    var loader = document.getElementById("loader");

    submit.style.display = "none";
    loader.style.display = "block";
  }
</script>

<div class='container'>
  <h3>Send Final Invoice</h3>

    <%= form_for(@invoice, method: 'post') do |f| %>
      <%= f.hidden_field(:estimate_id) %>

    <div class='form__row-vertical'>
      <b><%= f.label(:number, 'Invoice number') %></b>
      <%= f.text_field(:number, class: 'form-field form__field-full') %>
    </div>

    <%= 
      render 'quote_mailouts/email_form',
      header: 'Customer Email',
      email: @invoice.estimate.customer.email,
      subject: 'Big Tree Services Final Invoice',
      content: I18n.t('quote_mailout.final.content')
    %>

    <div class='content__row-vertical'>
      <%= submit_tag('Submit', class: "form__submit", id: 'submit-button', onclick: "startSend();") %>
      <div id="loader" style="display: none; width: 100%; justify-content: center; margin-top: 16px;">
        <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
      </div>
    </div>

    <div class='content__row-vertical'>
      <%= submit_tag('Skip', class: "form__submit", id: 'submit-button') %>
    </div>
  <% end %>



  </div>
