<% image_id = "image-#{receipt.id}" %>

<div id="single-receipt">
  <div id="single-receipt__body">
    <div id="single-receipt__row">
      <span>
        <b><%= "$#{receipt.cost}" %></b> - 
        <b><%= receipt.category.capitalize %></b>
        <% if receipt.vehicle %>
          <%= " - #{receipt.vehicle.name}" %>
        <% end %>  
      </span>
      <span style="font-size: 12px;"><i><%= receipt.date.strftime("%B %d, %Y") %></i></span>
    </div>
  

    <div id="single-receipt__row">
      <%= receipt.description %>
    </div>

    <div id="single-receipt__row">
      <% if receipt.photo.present? %>
        <div id="image-selector">
      
          <div class="modal" id="imageModal-<%= image_id %>" tabindex="-1">
            <div class="modal-dialog" style="display: flex; justify-content: center;"> 
              <img id="<%= image_id %>" src=<%= receipt.photo.url %> style="max-width: 90%; margin: 0 auto;" />
            </div>
          </div>

          <a id="image-link" data-toggle='modal' data-target="#imageModal-<%= image_id %>">Image</a>
        </div>
      <% else %>
        <span>-</span>
      <% end %>

      <span><%= receipt.arborist ? receipt.arborist.name : '-' %></span>
    </div>

  </div>
    <% if !receipt.approved && current_user.admin? %>
      <%= link_to(receipt_approve_path(receipt), :method => :post, class: "approveable__check") do %>
        <i class='fa fa-check'></i>
      <% end %>
  <% end %>
</div>
