<table class="striped table-narrow">
  <tr>
    <th><%= metric %></th>
    <th>Hours</th>
  </tr>
  <% grouped_records.each do |date, records| %>
    <tr>
      <td>
        <%= date %>
          <% include_arborist && iterate_through_arborist_hours(records) do |name, arborist_records| %>
            <br><i style="font-size: 14px"><%= name  %></i>
          <% end %>
      </td>

      <td>
        <%= records.map { |r| r.hours }.sum %>
          <% include_arborist && iterate_through_arborist_hours(records) do |name, arborist_records| %>
            <br><i style="font-size: 14px"><%= arborist_records.sum(&:hours)  %></i>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>
