<script>
  var stumpNumber = 1;
  var totalTrees = null;
  var estimateId = null;
  var currentStep = 'quantity';
  var displayAccess = false;

  function setId(id){
    estimateId = id;
  }

  function setQuantity(quantity){
    totalTrees = quantity;
  }

  function nextForm(){
    if(currentStep == 'quantity'){
      fadeOut = "#quantity-container";
      fadeIn = "#tree-container";
      currentStep = "trees";
    }
    else if(currentStep == 'trees'){
      setupQuestions();
      fadeOut = "#tree-container";
      fadeIn = "#site-container";
      currentStep = "site";
    }
    else if(currentStep == 'site'){
      fadeOut = "#site-container";
      fadeIn = "#contact-method-container";
      currentStep = "contact";
    }
    else if(currentStep == 'contact'){
      fadeOut = "#contact-method-container";
      fadeIn = "#thank-you-container";
      currentStep = "thank-you";
    }

    $(fadeOut).fadeOut(600, function(){
      $(fadeIn).fadeIn(600);
    });
  }
  
</script>

<div class='estimate-container'>
  <div id="estimate-form__info">
    <%= render 'stumping_form/info' %>
  </div>

  <div id="estimate-form__inputs">
    <div id="quantity-container">
      <%= 
        render 'stumping_form/quantity',
        question: 'How many stumps need to be removed?'
      %>
    </div>

    <div id="tree-container" style="display: none;">
      <%=
        render 'stumping_form/stump'
      %>
    </div>

    <div id="site-container" style="display: none;">
      <%=
        render 'stumping_form/site'
      %>
    </div>

    <div id="contact-method-container" style="display: none;">
      <%= 
        render 'estimate_form/contact'
      %>
    </div>

    <div id="thank-you-container" style="display: none;">
      <%= 
        render 'estimate_form/thank_you'
      %>
    </div>
  </div>

</div>
