
<div id='single-estimate__box'>
  <div id='single-estimate__header'>
    <%= estimate.formatted_status %>
  </div>

  <div id='single-estimate__inner-box'>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Date Sent
      </div>

      <div id='single-estimate__content'>
        <%= estimate.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>

    <% if estimate.work_date.present? %>
      <div id='single-estimate__row'>
        <div id='single-estimate__label'>
          Work
        </div>

        <div id='single-estimate__content'>
          <%= estimate.work_date.strftime("%B %d, %Y") %>
        </div>
      </div>
    <% end %>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Name
      </div>

      <div id='single-estimate__content'>
        <%= estimate.person_name %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Phone
      </div>

      <div id='single-estimate__content'>
        <%= estimate.phone %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Email
      </div>

      <div id='single-estimate__content'>
        <%= estimate.email %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Address
      </div>

      <div id='single-estimate__content'>
        <%= estimate.full_address %>
      </div>
    </div>

  </div>

  <%= link_to "/admin/view_estimate?id=#{estimate.id}", id: "single-estimate__details-link" do %>
    <div id="single-estimate__action-button">
      View Details
    </div> 
  <% end %>
</div>
