<section id="admin-container">
	<div id="admin-nav-bar">		
		
		<%= link_to '/receipts/new', class: "form__submit-link" do %>
			<div id="admin-nav-element" class="form__submit">	
				Create Receipt
			</div>
		<% end %>

		<%= link_to '/receipts', class: "form__submit-link" do %>
			<div id="admin-nav-element" class="form__submit">
				My Receipts
			</div>
		<% end %>
	</div>

	<div id="admin-nav-bar">		
		<%= link_to '/vehicles', class: "form__submit-link" do %>
			<div id="admin-nav-element" class="form__submit">
				Vehicles
			</div>
		<% end %>

		<%= link_to '/arborists', class: "form__submit-link" do %>
			<div id="admin-nav-element" class="form__submit">
				Arborists
			</div>
		<% end %>

	</div>


	<div id="admin__estimate-header">
	Running work
	<%= link_to(new_tracker_path) do %>
		<span id="admin__trackers-link">Master Trackers</span>
	<% end %>
	</div>

	<div id ="admin__estimate-table">
		<% @estimates.each do |estimate| %>
			<%= render "single_estimate_entry", estimate: estimate %>
		<% end %>
	</div>

</section>
