<div class="page-container">
  <%= render 'admin/common/back_button', back_link: "/admin/view_estimate?id=#{@estimate.id}" %>
  <div id='view-estimate__box'>
    <div id="view-estimate__costs-header">
      <span class = "text-large">Extra Costs</span>
    </div>
  
    <% @estimate.extra_costs.each_with_index do |cost, i| %>
      <div id='view-estimate__costs-row'>
        <div class='form__element-100 form__text-right'>
          <%= "Cost #{i + 1}" %>
        </div>
        <div class='form__element-100 form__text-right'>
          <%= cost.description %>
        </div>
        <div class='form__element-100 form__text-right'>
          $<%= cost.amount %>
        </div>
        <div class='form__element-100 form__text-right'>
          <%= link_to 'Delete', "/extra_costs/#{cost.id}?estimate_id=#{@estimate.id}", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>

    <div id='view-estimate__box'>
      <div id="view-estimate__costs-header">
        <span class = "text-large">Add New</span>
      </div>

      <%= form_tag("/extra_costs", method: :post) do %>
        <%= hidden_field_tag(:estimate_id, @estimate.id) %>

        <div class='form__row-vertical'>
          <b>Amount:</b>
          <%= number_field_tag("extra_cost[amount]", step: :any, class: 'form-text-field') %>
        </div>

        <div class='form__row-vertical'>
          <b>Description:</b>
          <%= text_field_tag("extra_cost[description]", '',  class: 'form-text-field') %>
        </div>

        <div class="form__row">
          <%= submit_tag("Create", id: 'form__submit') %>
        </div>
      <% end %>
    </div>

</div>
