<h3>Update costs</h3>


<%= form_tag("/admin/submit_updated_costs", method: "post") do %>
<%= hidden_field_tag("estimate_id", @estimate.id) %>
  <div id="update-costs">
    <% @estimate.trees.each do |tree| %>
      <%= hidden_field_tag("trees[][id]", tree.id) %>

      <div id="update-costs__box">
        <div id="update-costs__header">
          <div id="update_costs__element">
            Tree #<%= tree.sequence + 1 %>
          </div>

          <div id="update_costs__element">
            <%= tree.work_type.capitalize %>
          </div>
        </div>

        <div id="update-costs__row">
          <div id="update_costs__element">
            Notes<br />
            <%= text_field_tag("trees[][notes]", tree.notes) %>
          </div>
          <div id="update_costs__element">
            Cost<br />
            <%= number_field_tag("trees[][cost]", tree.cost) %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="update-costs__box">
      <div id="update-costs__header">
        Other Costs
      </div>

      <div id="update-costs__row">
        <div id="update_costs__element">
          Notes<br />
          <%= text_field_tag("estimate[extra_cost_notes]", @estimate.extra_cost_notes) %>
        </div>
        <div id="update_costs__element">
          Cost<br />
          <%= number_field_tag("estimate[extra_cost]", @estimate.extra_cost) %>
        </div>
      </div>
    </div>

    <div id="update-costs__submit-row">
      <%= submit_tag("Update", id: 'update-costs__submit') %>
    </div>
  </div>
<% end %>
