<div class='page-container'>
  <%= render 'admin/common/back_button', back_link: '/admin/admin_panel'%>

  <h2>Estimate #<%= @estimate.id %></h2>
  <%= render 'admin/view_estimate/view_estimate_timeline', estimate: @estimate%>

  <%= render 'admin/view_estimate/view_estimate_next', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_basics', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_costs', estimate: @estimate %>
  

</div>
