<div class='page-container'>
  <%= render 'admin/common/back_button', back_link: '/admin/admin_panel'%>

  <h2>Estimate #<%= @estimate.id %><%= " - Stumping Only" if @estimate.stumping_only %></h2>
  <%= render 'admin/view_estimate/view_estimate_timeline', estimate: @estimate %>

  <% if @estimate.arborist.present? %>
    <%= render 'admin/view_estimate/view_estimate_quotes', estimate: @estimate %>
  <% end%>
  
  <%= render 'admin/view_estimate/view_estimate_next', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_customer', customer: @estimate.customer, location: "/admin/view_estimate?id=#{@estimate.id}" %>
  <%= render 'admin/view_estimate/view_estimate_basics', estimate: @estimate %>
  <% if @estimate.arborist.present? %>
    <%= render 'admin/view_estimate/view_estimate_arborist', estimate: @estimate %>
  <% end %>

  <%= render 'admin/view_estimate/view_estimate_costs', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_extra_costs', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_totals', estimate: @estimate %>

  <% if @estimate.final_invoice_sent? %>
    <%= render 'admin/view_estimate/view_estimate_payment', estimate: @estimate %>
  <% end %>

  <%= render 'admin/view_estimate/view_estimate_trees', estimate: @estimate %>
  <%= render 'admin/view_estimate/view_estimate_cancel', estimate: @estimate %>
  

</div>
