  
<% if estimate.status == "needs_costs" %>
  <%= link_to "/admin/update_costs?id=#{estimate.id}" do %>
    <div id="single-estimate__action-button">
      Add Costs
    </div> 
  <% end %>
<% end %>

<% if estimate.status == "needs_arborist" %>
  <%= link_to assign_arborist_estimate_path(id: estimate.id) do %>
    <div id="single-estimate__action-button">
      Assign Arborist
    </div> 
  <% end %>
<% end %>

<% if estimate.status == "quote_sent" %>
  <%= link_to "/admin/set_work_date?id=#{estimate.id}" do %>
    <div id="single-estimate__action-button">
      Schedule Work
    </div>
  <% end %>
<% end %>

<% if estimate.status == "pending_quote" %>
  <%= link_to new_estimate_quote_mailout_path(estimate_id: estimate.id, mail_type: QuoteMailout::MAIL_TYPES[:quote]) do %>
    <div id="single-estimate__action-button">
      Send Quote
    </div>
  <% end %>
<% end %>

<% if estimate.status == "work_scheduled" %>
  <%= link_to new_estimate_quote_mailout_path(estimate_id: estimate.id, mail_type: QuoteMailout::MAIL_TYPES[:final]) do %>
    <div id="single-estimate__action-button">
      Send Final Invoice
    </div>
  <% end %>
<% end %>

<% if estimate.status == "final_invoice_sent" %>
  <%= link_to finalize_payment_estimate_path(id: estimate.id) do %>
    <div id="single-estimate__action-button">
      Finalize Payment
    </div>
  <% end %>
<% end %>
