  
<% if estimate.status == "work_scheduled" %>
  <div id="single-estimate__action-button">
    Complete
  </div> 
<% end %>

<% if estimate.status == "needs_costs" %>
  <%= link_to "/admin/update_costs?id=#{estimate.id}" do %>
    <div id="single-estimate__action-button">
      Add Costs
    </div> 
  <% end %>
<% end %>

<% if estimate.status == "needs_arborist" %>
  <%= link_to assign_arborist_estimate_path(id: estimate.id) do %>
    <div id="single-estimate__action-button">
      Assign Arborist
    </div> 
  <% end %>
<% end %>

<% if estimate.status == "quote_sent" %>
  <%= form_tag("/estimate/#{estimate.id}", method: "patch") do %>
    <%= hidden_field_tag("estimate[status]", "quote_accepted") %>
    <%= submit_tag("Accept Quote", id: 'single-estimate__action-button') %>
  <% end %>
<% end %>

<% if estimate.status == "quote_accepted" %>
  <%= link_to "/admin/set_work_date?id=#{estimate.id}" do %>
    <div id="single-estimate__action-button">
      Schedule Work
    </div>
  <% end %>
<% end %>

<% if estimate.status == "pending_quote" %>
  <%= link_to new_estimate_quote_mailout_path(estimate_id: estimate.id) do %>
    <div id="single-estimate__action-button">
      Send Quote
    </div>
  <% end %>
<% end %>
