<% active = false unless active.present? %>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('name', required: true) %>
    <%= form.label(:name, 'Name', class: active ? 'active' : '') %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('certification') %>
    <%= form.label(:certification, 'Certification', class: active ? 'active' : '') %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('email', required: true) %>
    <%= form.label(:email, 'Email', class: active ? 'active' : '') %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field('phone_number') %>
    <%= form.label(:phone_number, 'Phone', class: active ? 'active' : '') %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.number_field('hourly_rate') %>
    <%= form.label(:hourly_rate, 'Hourly Rate', class: active ? 'active' : '') %>
  </div>
</div>

<div class='row'>
  <div class='input-field col s12'>
    <% roles = [ ['Employee', 'employee'], ['Team Lead', 'team_lead'], ['Mechanic', 'mechanic'] ] %>
    <%=
      form.select(
        :role,
        options_for_select(roles, roles.first),
        {},
        { required: true }
      )
    %>
    <%= form.label(:category, 'Role') %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
