<% show_actions = true if show_actions == nil%>

<div class="card blue-grey lighten-5">
  <div class="card-content black-text">
    <span class="card-title"> <%= arborist.name %> </span>
    
    <div id="arborist-card-inner">
      <table class='table-narrow'>
        <tr>
          <td><b>Cert</b></td>
          <td><%= arborist.certification %></td>
        </tr>

        <tr>
          <td><b>Phone</b></td>
          <td><%= arborist.phone_number %></td>
        </tr>

        <tr>
          <td><b>Email</b></td>
          <td><%= arborist.email %></td>
        </tr>
      </table>

    </div>
  </div>

  <% if show_actions %>
    <div class="card-action">
      <%= link_to('View Profile', arborist_path(arborist)) %>
      <%= link_to('Edit', edit_arborist_path(arborist)) %>
    </div>
  <% end %>
</div>
