<script>
  function getPageTitle(){
    return "Stump #" + stumpNumber
  }

  function submitTree(){
    toggleLoading();

    let backyardField = document.querySelector('input[name="in_backyard"]:checked').value

    var treeImages = document.querySelectorAll('input[name^="tree_images"]');
    var sendImage = false;
    const formData = new FormData();

    for(i=0; i<treeImages.length; i++){
      var file = treeImages[i].files[0];
      if(file != null){
        sendImage = true;
        formData.append('images[]', file, file.name);
      }
    }

    if(backyardField == 'true'){
      displayAccess = true;
    }

    let params = {
      estimate_id: estimateId,
      tree:{
        work_type_string: 'Stump Removal',
        in_backyard: backyardField
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST", `/trees`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){  
      let response = JSON.parse(xmlhttp.response)
      if(sendImage){
        var imageHttp = new XMLHttpRequest();

        imageHttp.open("POST", `/tree_images?tree_id=${response.tree_id}`);
        imageHttp.send(formData);

        imageHttp.onload = function(){ 
          console.log("images uploaded");
          advanceTree();
        }
      }
      else{
        advanceTree();
      }
    }
  }

  function setTreePageTitle(){
    document.getElementById("tree-page-title").innerHTML = "Stump #" + stumpNumber
  }

  function advanceTree(){
    if(stumpNumber < totalTrees){
      stumpNumber += 1;

      $("#tree-container").fadeOut(600, function(){
        document.getElementById("tree-form").reset();
        toggleLoading();
        setTreePageTitle();
        setImageText();
        $("#tree-container").fadeIn(600);
      });
    }
    else{
      nextForm();
    }
  }

  function setImageText(){
    document.getElementById('image-label').innerHTML = `Upload a picture of ${getPageTitle()} (optional)`;
  }

  var loading = false;

  function toggleLoading(){
    let submit = document.getElementById("estimate-form__tree-submit");
    let loadingIcon = document.getElementById("estimate-form__loading");

    if(!loading){
      loading = true;
      submit.style.display = "none";
      loadingIcon.style.display = "flex";
    }
    else{
      loading = false;
      submit.style.display = "flex";
      loadingIcon.style.display = "none";
    }
  }

  
</script>

<%= form_tag('/', method: 'post', id: 'tree-form') do %>

  <div id='estimate-form__container'>
    <div id='estimate-form__question'>
      <span id="tree-page-title">Stump #1</span>
    </div>

    <div class='estimate-form__field-group' id='stump-removal'>
      <div class='estimate-form__label'>
        Is this stump in your back yard?
      </div>
      <div id='estimate-form__radio-question'>
        <%= 
          render 'form_components/radio_field',
          label: 'No',
          name: 'in_backyard',
          value: false,
          checked: true
        %>

        <%= 
          render 'form_components/radio_field',
          label: 'Yes',
          name: 'in_backyard',
          value: true,
          checked: false
        %>
      </div>
    </div>

    <div class='estimate-form__uploader-group'>
      <div class='estimate-form__label' id="image-label">
        Upload a picture of Stump #1 (optional)
      </div>

      <%= 
        render 'form_components/image_uploader',
        name: 'tree_images[0]',
        number: 1
      %>
    </div>


    <div id="estimate-form__tree-submit" onClick="submitTree();">
      Next
    </div>

    <div id="estimate-form__loading" style="display: none; justify-content: center; margin-top: 16px;">
      <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
    </div>

  </div>  
<% end %>
