<div id='services-page-entry'>

  <div id ='services-page-entry__header'>
    <%= title %>
  </div>

  <div id='services-page-entry__content'>
    <div id='services-page-entry__image-wrapper'>
    <%= image_tag image_name, :id => 'services-page-entry__image' %>
    </div>

    <div id='services-page-entry__right'>
      <div id='services-page-entry__description'>
        <% lines.each_with_index do |line, i| %>
          <% if i != 0 %>
            <br /><br />
          <% end %> 
          
          <%= line %>
        <% end %>
      </div>

      <div id ='services-page-entry__links'>
          <div id="services-button-wrapper">
            <%= link_to(page_url, class: 'services-link') do %>
              <div class='services-button'>
                Learn more
              </div>
            <% end %>
            <%= link_to("#{page_url}#estimate", class: 'services-link') do %>
              <div class='services-button'>
                Get an Estimate
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
