<!-- Collect the nav links, forms, and other content for toggling -->
<ul id="navbar">
  <li class = "menu-item"><%= link_to "Quotes", estimates_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Create Quote", new_estimate_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "My Receipts", receipts_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Create Receipt", new_receipt_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Vehicles", vehicles_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Arborists", arborists_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Customers", customers_path, :class => "nav-link" %></li>  
  <% if signed_in? %>
    <li class = "menu-item"><%= link_to "Log out", logout_path, :class => "nav-link" %></li>
  <% end %>
</ul>
