<!-- Collect the nav links, forms, and other content for toggling -->
<ul id="navbar">
  <% if current_user %>
    <% if current_user.admin? || current_user.role == 'admin' || current_user.role == 'team_lead' %>
      <li class = "menu-item"><%= link_to "Quotes", '/admin/estimates', :class => "nav-link" %></li>
      <li class = "menu-item"><%= link_to "Create Quote", '/admin/estimates/new', :class => "nav-link" %></li>
    <% end %>

    <% if current_user.admin? || current_user.role == 'admin' %>
      <li class = "menu-item"><%= link_to "Vehicles", vehicles_path, :class => "nav-link" %></li>
      <li class = "menu-item"><%= link_to "Arborists", arborists_path, :class => "nav-link" %></li>
      <li class = "menu-item"><%= link_to "Customers", '/admin/customers', :class => "nav-link" %></li>
    <% end %>

    <li class = "menu-item"><%= link_to "Repair Requests", '/admin/equipment', :class => "nav-link" %></li>
    <li class = "menu-item"><%= link_to "Receipts", '/admin/receipts', :class => "nav-link" %></li>
    <li class = "menu-item"><%= link_to "Hours", '/admin/hours', :class => "nav-link" %></li>
    <li class = "menu-item"><%= link_to "My Profile", "/admin/users/#{current_user.id}", :class => "nav-link" %></li>
  <% else %>
    <li class = "menu-item">None</li>
  <% end %>
</ul>
