<div class="page-container">
  <h3><%= @discount ? 'Edit Discounts' : 'Edit Costs' %></h3>


  <%= form_tag(update_estimate_costs_path(@estimate), method: :patch) do %>
  <%= hidden_field_tag("discount", @discount) %>

    <div id="update-costs">

      <%= render 'costs/partials/cost_list',
        initial_costs: @initial_costs 
      %>

      <div id="update-costs__submit-row">
        <%= submit_tag(@discount ? 'Update Discounts' : 'Update Costs', id: 'form__submit') %>
      </div>
    </div>
  <% end %>
</div>
