<div class="page-container">
  <h3><%= @discount ? 'Add Discounts' : 'Add Costs' %></h3>

  <%= form_tag(estimate_costs_path(@estimate), method: "post") do %>
    <%= hidden_field_tag("discount", @discount) %>
    <div id="update-costs">

      <%= render 'costs/partials/cost_list',
        initial_costs: @initial_costs 
      %>

      <div id="update-costs__submit-row">
        <%= submit_tag(@discount ? 'Create Discounts' : 'Create Costs', id: 'form__submit') %>
      </div>
    </div>
  <% end %>
</div>
