<div class='page-container'>
  <h3>Edit Invoice</h3>

  <%= form_for(@invoice, method: :patch) do |f| %>
    <div class='form__row-vertical'>
      <b><%= f.label(:number, 'Number') %></b>
      <%= f.text_field(:number, class: 'form-field form__element-100') %>
    </div>

    <div class='form__row-vertical'>
      <b><%= f.label(:payment_method, 'Payment Method') %></b>
      <%= f.select(
        :payment_method,
        ['Cash', 'Credit', 'Debit', 'E-Transfer', 'Cheque'],
        {},
        {
          class: 'form-field form__element-100',
          required: true,
          style: "width: 100%;"
        }
      ) %>
    </div>

    <div class='form__row-vertical'>
      <b><%= f.label(:discount, 'Sign Discount Applied?') %></b>
      <%= f.check_box(:discount) %>
    </div>

    <div class='form__row-vertical'>
      <b><%= f.label(:paid, 'Paid?') %></b>
      <%= f.check_box(:paid) %>
    </div>

    <div id="form__row">
      <%= submit_tag("Update", id: 'form__submit') %>
    </div>
  <% end %>

</div>
