
<div class='page-container'>
  <h3>Finalize Payment</h3>

  <%= form_for(@invoice, url: invoice_pay_url(@invoice), method: 'post') do |f| %>
    <div class='form__row-vertical'>
      <b><%= f.label(:payment_method, 'Payment Method') %></b>
      <%= f.select(
        :payment_method,
        ['Cash', 'Credit', 'Debit', 'E-Transfer', 'Cheque'],
        {},
        {
          class: 'form-field form__element-100',
          required: true,
          style: "width: 100%;"
        }
      ) %>
    </div>

    <%= 
      render 'quote_mailouts/email_form',
      email: @invoice.estimate.customer.email,
      subject: 'Big Tree Services Receipt',
      content: I18n.t('quote_mailout.receipt.content')
    %>

    <div class='form__row-vertical'>
      <%= submit_tag("Send Receipt", id: 'form__submit') %>
    </div>

    <div class='form__row-vertical'>
      <%= submit_tag("Skip", id: 'form__submit') %>
    </div>
  <% end %>

</div>
