<%= render 'quotes/pdf/header'%>

<div class='estimate-header'>
  <% if estimate.invoice&.number&.present? %>
    <b>Invoice #<%= estimate.invoice.number %></b>
  <% else %>
    <b>Quote</b>
  <% end %>
</div>

<div class='info-box'>
  <div class='info-row'>
    <div class='title-column'>
      <b>Date Tendered:</b>
    </div>

    <div class='entry-column'>
      <%= Date.today.strftime("%d/%m/%Y") %>
    </div>

    <div class='title-column'>
      <b>Completion Date:</b>
    </div>

    <div class='entry-column'>
      <%= estimate.work_completion_date&.strftime("%d/%m/%Y") %>
    </div>
  </div>

  <div class='info-row'>
    <div class='title-column'>
      <b>Customer Name:</b>
    </div>

    <div class='entry-column'>
      <%= estimate.customer.name %>
    </div>

    <div class='title-column'>
      <b>Email:</b>
    </div>

    <div class='entry-column'>
      <%= estimate.customer.email %>
    </div>
  </div>

  <div class='info-row'>
    <div class='title-column'>
      <b>Phone Number:</b>
    </div>

    <div class='entry-column'>
      <%= estimate.customer.phone %>
    </div>

    <div class='title-column'>
      <b>Address:</b>
    </div>

    <div class='entry-column'>
      <%= estimate.customer&.address&.full_address || estimate.site.full_address %>
    </div>
  </div>

  <div class='info-row'>
    <div class='title-column'>
      <b>Arborist Name:</b>
    </div>

    <div class='entry-column'>
      Tyler Brewer
    </div>

    <div class='title-column'>
      <b>Arborist Cert:</b>
    </div>

    <div class='entry-column'>
      400184807
    </div>
  </div>

  <div class='info-row'>
    <div class='title-column'>
      <b>Cell Number:</b>
    </div>

    <div class='entry-column'>
      705-943-7374
    </div>

    <div class='title-column'>
      <b>Email:</b>
    </div>

    <div class='entry-column'>
      tbrewer@bigislandgroup.ca
    </div>
  </div>
</div>

<%= render 'quotes/pdf/cost_summary', estimate: estimate %>

<div class='signature-row'>
  <div class='signature-left'>
    We propose to furnish material and labor, complete in accordance with the above specifications for the total. This proposal may be withdrawn by us if not accepted within 10 days. Acceptance of Proposal - the above prices, specifications and conditions included on Pages 1 and 3 are satisfactory and are hereby accepted. Big Trees is authorized to do the work as specified.  Payment will be made within 14 days of completion.
  </div>

  <div class='signature-box'>
    <div class='signature-field'>
      X:
    </div>
    <div class='signature-description'>
      Customer's Signature
    </div>
  </div>
</div>

<div class='liability-row'>
  <div class='liability-column'>
    <b>Big Tree - Brampton, ON</b><br>
    <b>43 Farmington Dr.</b><br>
    <b>tbrewer@bigislandgroup.ca</b><br>
    <b>1 877 542 5551</b><br>
  </div>
  <div class='liability-column'>
    <b>Intact Insurance</b><br>
    <b>Policy # 501381704</b><br>
    <b>$2,000,000 Commercial General Liability</b><br>
    <b>GST # 720295724RT0001</b><br>
  </div>
</div>
