<%= render 'quotes/pdf/header', organization: organization %>

<div class='estimate-header'>
  Terms and Conditions
</div>

<div class='details-box'>
  Each party agrees to the following terms and conditions:
  <br><br>
  <b>1. (Completion)</b> - <%= organization.name %> agrees to perform the Services set forth in this Contract in a proper and expeditious manner. The Services shall not commence until the Commencement Date, and shall be completed by the Completion Date.
  <br><br>
  <b>2. (Laws and Regulations)</b> - Each party shall comply with all applicable codes, laws, rules and regulations of federal, state or local authorities as they affect the Services and shall be responsible for any and all damages incurred resulting from their respective failure to comply with said codes, laws, rules and regulations.  Each party shall procure at its expense all permits and licenses which may be required to perform its portion of the Services.
  <br><br>
  <b>4. (DAMAGES)</b> - <%= organization.name.upcase %> SHALL BE RESPONSIBLE FOR ANY AND ALL INJURY OR DAMAGE TO ANY PERSONS AND/OR PROPERTY, INCLUDING LOSS OF LIFE, ARISING DIRECTLY OR INDIRECTLY FROM OR IN CONNECTION WITH SERVICES PERFORMED UNDER THIS CONTRACT, AND SHALL INDEMNIFY AND HOLD THE OTHER HARMLESS FROM ANY AND ALL LOSS, DAMAGE OR EXPENSE (INCLUDING ATTORNEYS' FEES) FROM ANY SUCH INJURY, DAMAGE, OR DEATH, EXCEPT AS SUCH MAY BE DUE TO THE NEGLIGENCE OF THE OTHER PARTY.
  <br><br>
  <b>5. (Acts of God)</b> - <%= organization.name %> shall not be responsible for any loss or damage to the work (including to materials used, or to be used) caused by fire, lightning, explosion, vehicles, smoke, hail, aircraft, windstorm, flood, earthquake, or other acts of the elements, excepting therefrom any such loss or damage to materials under <%= organization.name %> control.
  <br><br>
  <b>6. (Insurance)</b> - <%= organization.name %> agrees to maintain such insurance as will fully protect it from claims under worker's compensation acts; from claims for damages because of bodily injury, including personal injury, sickness or disease, or death, of any of its employees or any other person; and from claims for damages because of injury to or destruction of tangible property, including loss of use resulting therefrom.  Limits of coverage for bodily injury and property damage liability shall be $2,000,000.00 per occurrence. Each party shall also purchase and maintain insurance for its own equipment, materials and other personal property to the full insurable value thereof.
  <br><br>
  <b>7. (Termination)</b> <%= organization.name %> may terminate this Contract by giving notice of same at any time without cause.  This Contract may be terminated by Customer upon giving at least thirty (30) days' written notice to <%= organization.name %> upon the repeated and substantial failure of <%= organization.name %> to perform in accordance with all the terms herein, provided that failure to perform is through no fault of Customer.  Customer agrees to pay to <%= organization.name %> the reasonable value of the Services performed to the date of termination.
  <br><br>
  <b>8. (Services Rendered)</b> - Upon completion of all Services set forth in the Contract, <%= organization.name %> shall submit to Customer one invoice covering such Services, together with such other documentation as Customer shall reasonably request.  Customer shall make payment within fourteen (14) days of the date the invoice is received.  Payment by Customer shall constitute a waiver of all claims by Customer.
  <br><br>
  <b>9. (Payment Terms)</b> - Net Payment is due 30 days from invoice date. Late Fees will be subjected to a 30% payment increase after 30 days and be sent to collections if no prior arrangements have been made
</div>
