<section id='admin-container'>
  <div id="admin__header">
    Customers
  </div>

  <% @customers.each do |customer| %>

    <div id='single-estimate__box'>
      <div id='single-estimate__inner-box'>

        <div id='single-estimate__row'>
          <div id='single-estimate__label'>
            Name
          </div>

          <div id='single-estimate__content'>
            <%= customer.name %>
          </div>
        </div>

        <div id='single-estimate__row'>
          <div id='single-estimate__label'>
            Contact Info
          </div>

          <div id='single-estimate__content'>
            <%= customer.contact_list %>
          </div>
        </div>
      
        <div id='single-estimate__row'>
          <div id='single-estimate__label'>
            Preferred
          </div>

          <div id='single-estimate__content'>
            <%= customer.preferred_method %>
          </div>
        </div>
      
      </div>

      <div id="single-estimate__action-buttons">

        <div id="single-estimate-entry__action-button">
          <%= link_to customer_path(id: customer.id), id: "single-estimate__details-link" do %>
            View Details
          <% end %>
        </div> 

        <div id="single-estimate-entry__action-button">
          <%= link_to "/estimate/new?customer_id=#{customer.id}", id: "single-estimate__details-link" do %>
            New Estimate
          <% end %>
        </div> 
      </div>
    </div>

  <% end %>
</section>
