<script>
  function startSend(){
    var submit = document.getElementById("submit-button");
    var loader = document.getElementById("loader");

    submit.style.display = "none";
    loader.style.display = "block";
  }
</script>

<div class='container'>
  <h3>Mailout new quote</h3>

  <% if @mail_type == QuoteMailout::MAIL_TYPES[:quote] %>
    <% subject = 'Big Tree Services Quote '%>
    <% content = I18n.t('quote_mailout.new.content', name: @estimate.customer.first_name) %>
  <% elsif @mail_type == QuoteMailout::MAIL_TYPES[:final] %>
    <% subject = 'Big Tree Services Final Invoice '%>
    <% content = I18n.t('quote_mailout.final.content', name: @estimate.customer.first_name)%>
  <% elsif @mail_type ==QuoteMailout::MAIL_TYPES[:followup] %>
    <% subject = 'Your Big Tree Services Quote '%>
    <% content = I18n.t('quote_mailout.followup.content', name: @estimate.customer.first_name) %>
  <% end %>

  <div class='content__box'>
    <%= form_tag estimate_quote_mailouts_path(@estimate.id), method: 'post' do %>
      <%= hidden_field_tag('estimate_id', @estimate.id) %>
      <%= hidden_field_tag('mail_type', @mail_type) %>

      <% if @mail_type == QuoteMailout::MAIL_TYPES[:final] %>
        <%= render 'admin/partials/invoice_fields' %>
      <% end %>

      <div class='content__row-vertical'>
        <div class='content__label'>
          Customer Email
        </div>
        <%= text_field_tag("dest_email", @estimate.email, class: "form-field form__field-full", required: true) %>
      </div>

      <div class='content__row-vertical'>
        <div class='content__label'>
          Subject
        </div>
        <%= text_field_tag("subject", subject, class: "form-field form__field-full") %>
      </div>

      <div class='content__row-vertical'>
        <div class='content__label'>
          Content
        </div>
        <%= text_area_tag("content", content, class: "form-field form__field-full", id: 'mailouts__text-area') %>
      </div>

      <div class='content__row-vertical'>
        <%= submit_tag('Submit', class: "form__submit", id: 'submit-button', onclick: "startSend();") %>
        <div id="loader" style="display: none; width: 100%; justify-content: center; margin-top: 16px;">
          <%= image_tag "/loading_spinner.gif", id: 'loading', style: 'width: 50px; height: 50px; margin: 0 auto;' %>
        </div>
      </div>
    <% end %>

    <%= form_tag estimate_quote_mailouts_path(@estimate.id), method: 'post' do %>
      <%= hidden_field_tag('skip', true) %>
      <%= hidden_field_tag('mail_type', @mail_type) %>
      <div class='content__row-vertical'>
        <%= submit_tag('Skip', class: "form__submit", id: 'submit-button') %>
      </div>
    <% end %>


  </div>
</div>
