<!-- Collect the nav links, forms, and other content for toggling -->
<ul id="navbar">
  <li class = "menu-item"><%= link_to "About Us", pages_path(page: "about_us"), :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Residential", pages_path(page: "services"), :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Commercial", pages_path(page: "commercial"), :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "City Permits", pages_path(page: "permits"), :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Estimates", new_request_path, :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Careers", pages_path(page: "careers"), :class => "nav-link" %></li>
  <li class = "menu-item"><%= link_to "Contact Us", pages_path(page: "contact_us"), :class => "nav-link" %></li>
</ul>
