<% image_id = "image-#{equipment_request.id}" %>

<div id="single-request">
  <div id="single-request__body">
    <div id="single-request__row">
      <span>
        <b><%= equipment_request.category.capitalize %></b>
        <% if equipment_request.vehicle %>
          <%= " - #{equipment_request.vehicle.name}" %>
        <% end %>  
      </span>
      <span style="font-size: 12px;"><i><%= equipment_request.submitted_at.strftime("%B %d, %Y") %></i></span>
    </div>
  

    <div id="single-request__row">
      <%= equipment_request.description %>
    </div>

    <div id="single-request__row">
      <% if equipment_request.image.present? %>
        <div id="image-selector">
          <img id="<%= image_id %>" style="max-width: 1px;" src=<%= equipment_request.image.url %> />
          <span id="image-link" onClick='openModal("<%= image_id.to_s %>")'>Image</span>
        </div>
      <% else %>
        <span>-</span>
      <% end %>

      <span><%= equipment_request.arborist ? equipment_request.arborist.name : '-' %></span>
    </div>

  </div>
  <% if equipment_request.may_resolve? %>
    <%= link_to(equipment_request_resolve_path(equipment_request), :method => :post, id: "single-request__check") do %>
        <i class="material-icons" style="font-size: 30px;">check_circle_outline</i>
    <% end %>
  <% end %>
</div>
