<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<%= form_for(@estimate) do |f| %>
  <input type="hidden" name="_method" value="patch">
  <%= f.hidden_field(:is_unknown, value: false) %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field('work_date', class: 'datepicker') %>
      <%= f.label(:date, 'Date') %>
    </div>
  </div>

  <div class="row">
    <%= submit_tag "Set Work Date", class: 'btn col s12 m6 offset-m3' %>
  </div>
<% end %>
