<div class="page-container">
  <h3>Update costs</h3>


  <%= form_tag("/admin/submit_updated_costs", method: "post") do %>
  <%= hidden_field_tag("estimate_id", @estimate.id) %>
    <div id="update-costs">
    <% include_identifier = @estimate.trees.count > 1 %>

      <% @estimate.trees.order("id ASC").each_with_index do |tree, i| %>
        <%= hidden_field_tag("trees[][id]", tree.id) %>

        <div class="form__box">
          <div id="form__header">
            <div id="form__element">
              Tree #<%= i + 1 %>
            </div>

            <div id="form__element">
              <%= tree.work_name %>
            </div>
          </div>

          <% identifier = include_identifier ? "##{i+1}" : nil %>          
          <% notes = tree.notes || tree.formatted_work_name(identifier) %>
          <div id="form__row-vertical">
            <div id="form__element">
              Notes
            </div>
            <div id="form__element">
              <%= text_field_tag("trees[][notes]", notes, class: 'form-text-field') %>
            </div>
          </div>

          <div id="form__row-vertical">
            <div id="form__element">
              Cost
            </div>
            <div id="form__element">
              <%= number_field_tag("trees[][cost]", tree.cost, step: :any, class: 'form-text-field') %>
            </div>
          </div>

        </div>
      <% end %>

      <div id="update-costs__submit-row">
        <%= submit_tag("Update", id: 'form__submit') %>
      </div>

      <div id="update-costs__submit-row">
        <%= submit_tag("Update and Add Extras", id: 'form__submit') %>
      </div>
    </div>
  <% end %>
</div>
