<div id="view-estimate__box">
  <div id="view-estimate__main-header">
    <span class = "text-large">Customer</span>
    
    <%= link_to edit_customer_path(id: customer.id, redirect_location: location) do %>
      <span id="view-estimate__edit">Edit</span>
    <% end %>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Name
    </div>
    <div>
      <%= customer.name %>
    </div>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Preferred Contact
    </div>
    <div>
      <%= customer.preferred_method %>
    </div>
  </div>


  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Email
    </div>
    <div>
      <% if customer.email.present? %>
        <a href="mailto:<%= customer.email %>">
          <%= customer.email %>
        </a>
      <% else %>
        -
      <% end %>
    </div>
  </div>

  <div id='view-estimate__row-vertical'>
    <div id="view_estimate__entry-header">
      Phone
    </div>
    <div>
      <% if customer.phone.present? %>
        <a href="tel:<%= customer.phone %>">
          <%= customer.phone %>
        </a>
      <% else %>
        -
      <% end %>
    </div>
  </div>

  <div id ="view-estimate__row">
    <div id="single-estimate-entry__action-button" style="width: 50%;">
      <%= link_to "/estimate/new?customer_id=#{customer.id}", id: "single-estimate__details-link" do %>
          New Estimate
      <% end %>
    </div>
  </div>
</div>
