<script>
  function changeTab(listName){
    let allLists = document.querySelectorAll("div[class='estimate-list']");

    for(i = 0; i < allLists.length; i++){
      allLists[i].style.display = 'none'; 
    }

    let activeList = document.getElementById(listName);
    activeList.style.display = 'block';
  }

  function selectTab() {

    var tabSelect = document.getElementById('estimate-selection').value;
    switch(tabSelect) {
      case "Active": 
        changeTab('active-list');
        break;
      case 'To Pay':
        changeTab('pending-list');
        break;
      case 'Quote Sent':
        changeTab('sent-list');
        break;
      case 'All':
        changeTab('all-list');
        break;
      default:
        console.log("no tab");

    }
  }
</script>

<div class="admin__estimate-tabs">
  <%= 
    select_tag "estimate-selection",
    options_for_select(["Active", "To Pay", "Quote Sent", "All"]),
    onchange: "selectTab();",
    class:"form-field",
    style: 'width: 100%;'
  %>
</div>

<div id ="admin__estimate-table">
  <div id='active-list' class='estimate-list'>
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.incomplete
    %>
  </div>

  <div id='pending-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.pending_payment
    %>
  </div>

  <div id='sent-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.sent
    %>
  </div>

  <div id='all-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates
    %>
  </div>
</div>
