<script>
  Turbolinks.clearCache();

  function changeTab(listName){
    let allLists = document.querySelectorAll("div[class='estimate-list']");

    for(i = 0; i < allLists.length; i++){
      allLists[i].style.display = 'none'; 
    }

    let activeList = document.getElementById(listName);
    activeList.style.display = 'block';
  }

  function selectTab() {
    var tabSelect = document.getElementById('estimate-selection').value;
    console.log(tabSelect)
    localStorage.setItem("lastCategory", tabSelect);
    switch(tabSelect) {
      case "Needs Pricing":
        changeTab('pricing-list');
        break;
      case "Awaiting Customer Response": 
        changeTab('active-list');
        break;
      case 'To Pay':
        changeTab('pending-list');
        break;
      case 'Approved and Scheduled':
        changeTab('scheduled-list');
        break;
      case 'All':
        changeTab('all-list');
        break;
      default:
        console.log("no tab");

    }
  }

  function autoscroll(){
    var lastCategory = localStorage.getItem("lastCategory");
    
    if(lastCategory != null){
      $('#estimate-selection').val(lastCategory);
      selectTab();
      setTimeout(() => {
        var scrollPosition = localStorage.getItem("scrollPosition");
        window.scrollTo(0, scrollPosition);
        $('select').formSelect();
      }, 400)
    }
  }
</script>

<%= 
  select_tag "estimate-selection",
  options_for_select([ "All", "Needs Pricing", "Awaiting Customer Response", "To Pay", "Approved and Scheduled"]),
  onchange: "selectTab();",
  class:"form-field",
  style: 'width: 100%;'
%>

<script>
  var instances = null;
  var elems = null
  elems = document.querySelectorAll('select');
  instances = M.FormSelect.init(elems, {});

  var children = document.getElementsByClassName('select-wrapper')[0].childNodes;
  for(var i = 0; i < children.length; i++){ if(children[i].className == 'select-wrapper'){ children[i].remove() } }
</script>



<div id ="admin__estimate-table">
  <div id='all-list' class='estimate-list'>
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates
    %>
  </div>

  <div id="pricing-list" class='estimate-list'>
    <%= 
      render 'admin/partials/estimate_list',
      estimates: estimates.price_required
    %>
  </div>

  <div id='active-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.sent
    %>
  </div>

  <div id='pending-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.pending_payment
    %>
  </div>

  <div id='scheduled-list' class='estimate-list' style="display: none;">
    <%= 
      render 'admin/partials/estimate_list', 
      estimates: estimates.scheduled
    %>
  </div>
</div>

<% if @autoscroll == 'true' %>
  <script>
    autoscroll();
  </script>
<% end %>
