<script>
  function setUnknown(estimateId, isUnknown){
    var message = ""
    if(isUnknown){
      message = "Move this estimate to unknown?";
    }
    else{
      message = "Move this estimate to active?"
    }

    let shouldPerform = confirm(message);

    if(!shouldPerform){
      return;
    }
    
    let params = {
      estimate: {
        is_unknown: isUnknown
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("PATCH", `/estimates/${estimateId}`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){
      window.location.reload(true);
    }
  }
</script>

<% customer = estimate.customer %>


<div id='single-estimate__box'>
  <div id='single-estimate__header'>
    <%= [estimate.formatted_status, estimate.additional_message].compact.join(' - ') %>
  </div>

  <div id='single-estimate__inner-box'>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Date Sent
      </div>

      <div id='single-estimate__content'>
        <%= estimate.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>

    <% if estimate.work_date.present? %>
      <div id='single-estimate__row'>
        <div id='single-estimate__label'>
          Work
        </div>

        <div id='single-estimate__content'>
          <%= estimate.work_date.strftime("%B %d, %Y") %>
        </div>
      </div>
    <% end %>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Name
      </div>

      <div id='single-estimate__content'>
        <%= customer.name %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Phone
      </div>

      <div id='single-estimate__content'>
        <%= customer.phone %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Email
      </div>

      <div id='single-estimate__content'>
        <%= customer.email %>
      </div>
    </div>

    <div id='single-estimate__row'>
      <div id='single-estimate__label'>
        Address
      </div>

      <div id='single-estimate__content'>
        <%= estimate.site.full_address %>
      </div>
    </div>

  </div>

  <div id="single-estimate__action-buttons">
    <% if !estimate.completed? %>
      <% if !estimate.unknown? %>
        <%= link_to new_estimate_quote_mailout_path(estimate_id: estimate.id, mail_type: QuoteMailout::MAIL_TYPES[:followup]), id: 'single-estimate-entry__action-button' do %>
            Unknown
        <% end %>
      <% else %>
        <div id="single-estimate-entry__action-button" onClick="setUnknown(<%= estimate.id %>, false)">
          Active
        </div> 
      <% end %>
    <% end %>

    <div id="single-estimate-entry__action-button">
      <%= link_to estimate_path(estimate), id: "single-estimate__details-link" do %>
        Details
      <% end %>
    </div> 

    <% if estimate.status == 'quote_sent' %>
      <div id="single-estimate-entry__action-button">
        <%= link_to edit_estimate_path(estimate, form_option: 'set_work_date'), id: "single-estimate__details-link" do %>
          Schedule
        <% end %>
      </div>
    <% end %>

    <% if estimate.status == 'final_invoice_sent' %>
      <div id="single-estimate-entry__action-button">
        <%= link_to edit_invoice_path(estimate.invoice, form_option: 'finalize_payment'), id: "single-estimate__details-link" do %>
          Set Payment
        <% end %>
      </div>
    <% end %>
    
  </div>
</div>
