<script>
  function setUnknown(estimateId, isUnknown){
    setScroll();
    
    var message = ""
    if(isUnknown){
      message = "Move this estimate to unknown?";
    }
    else{
      message = "Remove unknown status?"
    }

    let shouldPerform = confirm(message);

    if(!shouldPerform){
      return;
    }
    
    let params = {
      estimate: {
        is_unknown: isUnknown
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("PATCH", `/estimates/${estimateId}`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){
      window.location.reload(true);
    }
  }

  function setScroll(){
    localStorage.setItem("scrollPosition", window.scrollY);
  }
</script>

<% customer = estimate.customer %>

<div class="row" style="margin-bottom: 8px;">
  <div class="col s12"> 
    <div class="estimate-list-entry">
      <div style="display: flex;">
        <div class='estimate-list-entry__left'>
          <b><%= customer.name %></b> <br>
          <div class='estimate-list-entry__icon-row'>
            <i class="material-icons estimate-list-entry__icon">room</i> 
            <%= estimate.site.full_address %>
          </div>
          <div class='estimate-list-entry__icon-row'>
            <i class="material-icons estimate-list-entry__icon">call</i> 
            <%= customer.phone %>
          </div>
          <div class='estimate-list-entry__icon-row'>
            <i class="material-icons estimate-list-entry__icon">email</i>
            <%= customer.email %>
          </div>
        </div>

        <div class='estimate-list-entry__right'>
          <div class='estimate-list-entry__vertical-section'>
            <span class="badge-notification"><%= estimate.formatted_status %></span>
            <% if estimate.status < 'quote_accepted' && estimate.additional_message %>
              <i><%= estimate.additional_message %></i>
            <% end %>
          </div>
          <div class='estimate-list-entry__vertical_section'>
            <div class='estimate-list-entry__icon-row'>
              <i class="material-icons estimate-list-entry__icon">call_received</i>
              <%= estimate.created_at.strftime("%b %d, %Y") %>
            </div>
            <% if estimate.work_date.present? %>
              <div class='estimate-list-entry__icon-row'>
                <i class="material-icons estimate-list-entry__icon">work</i>
                <%= estimate.work_date.strftime("%b %d, %Y") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    
      <div class='estimate-list-entry__link-container'>
        <%= render 'admin/partials/single_estimate_entry_links', estimate: estimate %>
      </div>

    </div>
  </div>
</div>
