<script>
  function submitContact(){
    let form = document.getElementById("contact-form");
    let contactMethod = document.querySelector('input[name="contact_method"]:checked').value

    if(!form.checkValidity()){
      document.getElementById('contact-submit').click();
      return;
    }

    let email = document.querySelector('input[name="email"]').value
    let phone = document.querySelector('input[name="phone"]').value
    let name = document.querySelector('input[name="person_name"]').value

    let params = { 
      estimate: { 
        person_name: name,
        email: email,
        phone: phone,
        submission_completed: true,
        preferred_contact: contactMethod
      } 
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("PUT", `/requests/${estimateId}`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){  
      nextForm();
    }
  }
</script>

<%= form_tag('/#', method: :post, id: 'contact-form') do %>
<div id='estimate-form__container'>
  <div id='estimate-form__question'>
    How would you prefer we contact you?
  </div>

    <div id="estimate-form__radio-buttons">
      <%= 
        render 'form_components/radio_box', 
        name: 'contact_method',
        label: 'Email',
        value: 'email',
        smallLabel: true,
        checked: 'checked'
      %>

      <%= 
        render 'form_components/radio_box', 
        name: 'contact_method',
        label: 'Phone',
        value: 'phone',
        smallLabel: true
      %>

      <%= 
        render 'form_components/radio_box', 
        name: 'contact_method',
        label: 'Text',
        value: 'text',
        smallLabel: true
      %>
    </div>

    <div class='estimate-form__field-group' id="email-group">
      <div class='estimate-form__label'>
        Email
      </div>
      <%= text_field_tag('email', '' , id: 'estimate-form__field', required: true) %>
    </div>

    <div class='estimate-form__field-group' id="phone-group">
      <div class='estimate-form__label' id='phone-label'>
        Phone Number
      </div>
      <%= text_field_tag('phone', '' , id: 'estimate-form__field') %>
    </div>

    <div class='estimate-form__field-group'>
      <div class='estimate-form__label'>
        Your Name
      </div>
      <%= text_field_tag('person_name', '' , id: 'estimate-form__field', required: true) %>
    </div>

    <div id="estimate-form__submit" onClick="submitContact();">
      Next
    </div>

    <%= submit_tag "Submit", style: 'display: none', id: 'contact-submit' %>

</div>
<% end %>
