<script>
  function submitSite(){
    let form = document.getElementById("site-form");

    if(!form.checkValidity()){
      document.getElementById('site-submit').click();
      return;
    }

    let street = document.querySelector('input[name="street"]').value;
    let city = document.querySelector('input[name="city"]').value;

    let wood = document.querySelector('input[name="wood_removal"]:checked').value;
    let vehicle = document.querySelector('input[name="vehicle_access"]:checked').value;
    let breakables = document.querySelector('input[name="breakables"]:checked').value;
    let low_access_width = document.querySelector('input[name="low_access_width"]:checked').value;

    let params = {
      tree_site: {
        address_attributes: {
          street: street,
          city: city
        },
        survey_filled_out: true,
        wood_removal: wood,
        vehicle_access: vehicle,
        breakables: breakables,
        low_access_width: low_access_width
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST", `/estimates/${estimateId}/sites`);
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){
      nextForm();
    }
  }

</script>

<%= form_tag('/#', method: :post, id: 'site-form') do %>
<div id='estimate-form__container'>
  <div id='estimate-form__question'>
    Tell us a bit about your site.
  </div>

  <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      Street and Number
    </div>
    <%= text_field_tag('street', '' , id: 'estimate-form__field', required: true) %>
  </div>

  <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      City
    </div>
    <%= text_field_tag('city', '' , id: 'estimate-form__field', required: true) %>
  </div>

  <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      Do you want the wood removed?
    </div>
    <div id='estimate-form__radio-question'>
      <%=
        render 'form_components/radio_field',
        label: 'No',
        name: 'wood_removal',
        value: false,
        checked: false
      %>

      <%=
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'wood_removal',
        value: true,
        checked: true
      %>
    </div>
  </div>

  <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      Is there vehicle access to your trees?
    </div>
    <div id='estimate-form__radio-question'>
      <%=
        render 'form_components/radio_field',
        label: 'No',
        name: 'vehicle_access',
        value: false,
        checked: true
      %>

      <%=
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'vehicle_access',
        value: true,
        checked: false
      %>
    </div>
  </div>

  <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      Are there breakables near your trees?
    </div>
    <div id='estimate-form__radio-question'>
      <%=
        render 'form_components/radio_field',
        label: 'No',
        name: 'breakables',
        value: false,
        checked: true
      %>

      <%=
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'breakables',
        value: true,
        checked: false
      %>
    </div>
  </div>

    <div class='estimate-form__field-group'>
    <div class='estimate-form__label'>
      At any point, is the access width to your tree(s) less than 36 inches?
    </div>
    <div id='estimate-form__radio-question'>
      <%=
        render 'form_components/radio_field',
        label: 'No',
        name: 'low_access_width',
        value: false,
        checked: true
      %>

      <%=
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'low_access_width',
        value: true,
        checked: false
      %>
    </div>
  </div>

  <div id="estimate-form__submit" onClick="submitSite();">
    Next
  </div>

  <%= submit_tag "Submit", style: 'display: none', id: 'site-submit' %>

<% end %>

</div>
