<script>
  function submitBasics(){
    let params = {
      estimate: { 
        submission_completed: false,
        street: document.querySelector('input[name="street"]').value,
        city: document.querySelector('input[name="city"]').value
      },
      customer: {
        id: document.querySelector('input[name="customer_id"]').value,
        name: document.querySelector('input[name="name"]').value,
        email: document.querySelector('input[name="email"]').value,
        phone: document.querySelector('input[name="phone"]').value,
        preferred_contact: document.querySelector('select[name="contact_method"]').value
      }
    }

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("POST", `/requests`);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(params));

    xmlhttp.onload = function(){ 
      let response = JSON.parse(xmlhttp.response)
      setId(response.estimate_id); 
      nextForm();
    }
  }
</script>
 
 <div>
  <%= hidden_field_tag('customer_id', @customer.id) %>
  <div class='form__row-vertical'>
    <b>Customer Name</b>
    <%= text_field_tag("name", @customer.name, class: 'form-field form__field-full') %>
  </div>

  <div class='form__row-vertical'>
    <b>Preferred Contact Method</b>
    <%= select_tag "contact_method",
      options_for_select(['email', 'phone', 'text']),
      class: "form-field",
      style: 'width: 100%'
    %>
  </div>

  <div class='form__row-vertical'>
    <b>Email</b>
    <%= text_field_tag("email", @customer.email, class: 'form-field form__field-full') %>
  </div>

  <div class='form__row-vertical'>
    <b>Phone Number</b>
    <%= text_field_tag("phone", @customer.phone, class: 'form-field form__field-full') %>
  </div>

  <div class='form__row-vertical'>
    <b>Street and Number</b>
    <%= text_field_tag("street", @last_estimate.street, class: 'form-field form__field-full') %>
  </div>

  <div class='form__row-vertical'>
    <b>City</b>
    <%= text_field_tag("city", @last_estimate.city, class: 'form-field form__field-full') %>
  </div>

  <div id="form__row">
    <div id="form__submit" onClick="submitBasics();">
      Next
    </div>
  </div>
</div>
