<script>
  function submitSite(){
    let siteParams = {
      estimate: {
        wood_removal: document.querySelector('input[name="wood_removal"]:checked').value,
        vehicle_access: document.querySelector('input[name="vehicle_access"]:checked').value,
        cleanup: document.querySelector('input[name="cleanup"]:checked').value,
        access_width: document.querySelector('input[name="access_width"]').value
      }
    }

    var xmlHttp = new XMLHttpRequest();

    xmlHttp.open("PATCH", `/requests/${estimateId}`);
    xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlHttp.send(JSON.stringify(siteParams));

    xmlHttp.onload = function(){
      nextForm();
    }
  
  }
</script>

<div>
  <div class='form__row-vertical'>

    <b>Wood Removal?</b>
    
    <div id='estimate-form__radio-question'>
      <%= 
        render 'form_components/radio_field',
        label: 'No',
        name: 'wood_removal',
        value: false,
        checked: false
      %>

      <%= 
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'wood_removal',
        value: true,
        checked: true
      %>
    </div>
  </div>

  <div class='form__row-vertical'>
    <b>Complete Cleanup?</b>
    
    <div id='estimate-form__radio-question'>
      <%= 
        render 'form_components/radio_field',
        label: 'No',
        name: 'cleanup',
        value: false,
        checked: true
      %>

      <%= 
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'cleanup',
        value: true,
        checked: false
      %>
    </div>
  </div>

  <div class='form__row-vertical'>
    <b>Vehicle access?</b>
    
    <div id='estimate-form__radio-question'>
      <%= 
        render 'form_components/radio_field',
        label: 'No',
        name: 'vehicle_access',
        value: false,
        checked: true
      %>

      <%= 
        render 'form_components/radio_field',
        label: 'Yes',
        name: 'vehicle_access',
        value: true,
        checked: false
      %>
    </div>
  </div>

  <div class='form__row-vertical'>
    <b>Access width to back yard</b>
    <%= text_field_tag("access_width", '', class: 'form-field form__field-full') %>
  </div>

  <div id="form__row">
    <div id="form__submit" onClick="submitSite();">
      Next
    </div>
  </div>

</div>
