<div class="admin__header">
  <h5>Vehicles</h5>

  <%= link_to new_vehicle_path do %>
    + Add New
  <% end %>
</div>

<table class='striped'>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td style="font-size: 18px;">
        <%= vehicle.name %> <br />
        <div style="font-size: 14px; line-height: 20px; width: 80%;">
          <%= link_to new_expiration_path(vehicle_id: vehicle.id) do %>
            Add Expiration
          <% end %>

          <%= render 'vehicles/partials/expiration_list', expirations: vehicle.expirations %>
        </div>
      </td>
      <td>
        <%= link_to vehicle_path(vehicle) do %>
          Details
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
