<% if current_user.admin? %>
  <div>
    <%= link_to('Download Receipts', receipts_xlsx_path(format: :xlsx )) %> |
    <%= link_to('Download Cheques', cheques_xlsx_path(format: :xlsx )) %>
    <br >
    <b>Pending Per Arborist</b> <br />
    <% @unapproved_per_person.each do |name, amount| %>
      <%= "#{name}: $#{amount}" %> <br>
    <% end %>
  </div> 
<% end %>

<div class="admin__header">
  <h4>Receipts</h4>

  <%= link_to new_receipt_path do %>
    Upload New
  <% end %>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a data-toggle="tab" href="#pending">Pending</a>
  </li>

  <li class="nav-item">
    <a data-toggle="tab" href="#repaid">Repaid</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active request_list" id="pending">
    <% @receipts.unapproved.each do |receipt| %>
      <%= render 'receipts/partials/single_receipt', 
        receipt: receipt,
        show_actions: true 
      %>
    <% end %>
  </div>
  <div class="tab-pane request_list" id="repaid">
    <% @receipts.approved.each do |receipt| %>
      <%= render 'receipts/partials/single_receipt', 
        receipt: receipt,
        show_actions: true 
      %>
    <% end %>
  </div>
</div>



<script>
$(document).ready(function(){
  $('.tabs').tabs();
});
</script>
