<div class="container">
  <%= link_to('Download Receipts', receipts_xlsx_path(format: :xlsx )) %> |
  <%= link_to('Download Cheques', cheques_xlsx_path(format: :xlsx )) %> 

  <h3>My Receipts</h3>

  <table id="receipt-table">
    <% @receipts.each do |receipt| %>
      <tr>
        <td style='width: 70%;'>
          <b><%= receipt.date.strftime("%d/%m/%Y") %></b>
          <br />
          <%= receipt.arborist.name %>
          <br />
          <%= "$#{receipt.cost} (#{receipt.category})" %>
        </td>

        <td style='width: 30%;'>
          <%= link_to(receipt_path(id: receipt.id)) do %>
            <div class='form__submit'>
              Details
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>


  <h3>My Cheques</h3>

  <table id="receipt-table">
    <% @cheques.each do |receipt| %>
      <tr>
        <td style='width: 70%;'>
          <b><%= receipt.date.strftime("%d/%m/%Y") %></b>
          <br />
          <%= receipt.arborist.name %>
          <br />
          <%= "$#{receipt.cost} (#{receipt.category})" %>
        </td>

        <td style='width: 30%;'>
          <%= link_to(receipt_path(id: receipt.id)) do %>
            <div class='form__submit'>
              Details
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
