<% if current_user.admin? %>
  <div>
    <%= link_to('Download Receipts', receipts_xlsx_path(format: :xlsx )) %> |
    <%= link_to('Download Cheques', cheques_xlsx_path(format: :xlsx )) %>
    <br >
    <b>Pending Per Arborist</b> <br />
    <% @unapproved_per_person.each do |name, amount| %>
      <%= "#{name}: $#{amount}" %> <br>
    <% end %>
  </div> 
<% end %>

<div class="admin__header">
  <h4>Receipts</h4>

  <%= link_to new_receipt_path do %>
    Upload New
  <% end %>
</div>



<div class="row">
<div class="col s12">
  <ul class="tabs">
    <li class="tab col s3"><a class="active" href="#active">Pending</a></li>
    <li class="tab col s3"><a href="#pending">Repaid</a></li>
  </ul>
</div>
</div>

<div id="active" class="col s12 request_list">
<% @receipts.unapproved.each do |receipt| %>
  <%= render 'receipts/partials/single_receipt', 
    receipt: receipt,
    show_actions: true 
  %>
<% end %>
</div>

<div id="pending" class="col s12 request_list">
<% @receipts.approved.each do |receipt| %>
  <%= render 'receipts/partials/single_receipt', 
    receipt: receipt,
    show_actions: true 
  %>
<% end %>
</div>

<script>
$(document).ready(function(){
  $('.tabs').tabs();
});
</script>
