<h5>Submit a Receipt</h5>

<%= form_for(@receipt, method: :post, html: { multipart: true } ) do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field('date', class: 'datepicker') %>
      <%= f.label(:date, 'Date') %>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= 
          f.select(
            :category,
            options_for_select(Receipt::CATEGORIES, Receipt::DEFAULT_CATEGORY),
            required: true
          ) 
        %>
        <%= f.label(:category, 'Category') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= 
          f.select(
            :job,
            options_for_select(Receipt::JOBS, Receipt::DEFAULT_JOB),
            required: true
          ) 
        %>
        <%= f.label(:job, 'Job') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= 
          f.select(
            :payment_method,
            options_for_select(Receipt::PAYMENT_METHODS, Receipt::DEFAULT_PAYMENT_METHOD),
            required: true
          ) 
        %>
        <%= f.label(:payment_method, 'Payment Method') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= 
          f.select(
            :vehicle_id,
            options_for_select([['Other', nil], *Vehicle.all.map { |v| [v.name, v.id] }], ['Other', nil])
          ) 
        %>
        <%= f.label(:vehicle_id, 'Vehicle (if applicable)') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.number_field(:cost, {required: true, step: 0.01}) %>
        <%= f.label(:cost, 'Amount') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field(:description) %>
        <%= f.label(:description, 'What did you buy?') %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Receipt Picture</span>
          <input type="file" name="receipt[photo]">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <%= render 'form_components/submit_toggle', button_label: 'Submit' %>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    var options = {
      defaultDate: new Date(),
      setDefaultDate: true
    };

    $('.datepicker').datepicker(options);

    $('select').formSelect();
  });
</script>
