<div id="submit-receipt">
  <%= render 'admin/common/back_button', back_link: "/admin/admin_panel" %>
  <h3>Submit a Receipt</h3>

  <%= form_tag("/receipts", method: 'post', multipart: true) do %>
  <div class="form__box">

    
    <div class="form__row form__row-vertical">
      <div class=" form__label">
        Date*
      </div>  

        <input 
          type="text"
          name="receipt[date]"
          data-provide='datepicker'
          class="form-field"
          id="receipt-date-picker"
          placeholder="Enter the date..." ,
          required=true 
        >
    </div>


    <div class="form__row form__row-vertical">
      <div class=" form__label">
        Arborist*
      </div>  

        <%= 
          select_tag 'receipt[arborist_id]',
          options_from_collection_for_select(@all_arborists, 'id', 'name', @arborist.id),
          class:"form-field form__field-full",
          required: true
        %>
    </div>

    <div class="form__row form__row-vertical">
      <div class=" form__label">
        Category*
      </div>  

      <%= 
        select_tag 'receipt[category]',
        options_for_select(Receipt::CATEGORIES, Receipt::DEFAULT_CATEGORY),
        class:"form-field form__field-full",
        required: true
      %>
    </div>

    <div class="form__row form__row-vertical">
      <div class=" form__label">
        Job*
      </div>  

      <%= 
        select_tag 'receipt[job]',
        options_for_select(Receipt::JOBS, Receipt::DEFAULT_JOB),
        class:"form-field form__field-full",
        required: true
      %>
    </div>

    <div class="form__row form__row-vertical">
      <div class="form__label">
        Payment Method*
      </div>  

      <%= 
        select_tag 'receipt[payment_method]',
        options_for_select(Receipt::PAYMENT_METHODS, Receipt::DEFAULT_PAYMENT_METHOD),
        class:"form-field form__field-full",
        required: true
      %>
    </div>

    <div class="form__row form__row-vertical">
      <div class=" form__label">
        Vehicle (if applicable)
      </div>  

        <%= 
          select_tag 'receipt[vehicle_id]',
          options_from_collection_for_select(@vehicles, 'id', 'name'),
          include_blank: "None",
          class:"form-field form__field-full"
        %>
    </div>

    <div class="form__row form__row-vertical">
      <div class="form__label">
        Amount*
      </div>  

        <%= number_field_tag('receipt[cost]', '', class: "form-field form__field-full", required: true, :step => 0.01) %>
    </div>


    <div class="form__row form__row-vertical">
      <div class="form__label">
        What did you buy?
      </div>  

        <%= text_field_tag('receipt[description]', '', class: "form-field form__field-full") %>
    </div>

    <div class="form__row form__row-vertical">
      <div class="form__label">
        Receipt Picture*
      </div>  

        <%= file_field_tag('receipt[photo]', required: true) %>
    </div>

    <div class="form__row">
      <%= submit_tag('Submit', class: "form__submit") %>
    </div>

  </div>
<% end %>



</div>

<script>
  $('#receipt-date-picker').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
  });

  $('#receipt-date-picker').datepicker('setDate', new Date());
</script>
