<%= render 'admin/tools/inspectlet' %>

<%= render 'admin/common/back_button', back_link: receipts_path %>

<h5>Submit a Receipt</h5>

<%= form_for(@receipt, method: :post, html: { multipart: true, autocomplete: false } ) do |f| %>
  <div class="form-group">
    <%= f.label(:date, 'Date') %>
    <%= f.text_field :date, { class: 'datepicker form-control', data: { provide:'datepicker' } } %>
  </div>

    <div class="form-group">
      <%= f.label(:category, 'Category') %>
      <%= 
        f.select(
          :category,
          options_for_select(Receipt::CATEGORIES, Receipt::DEFAULT_CATEGORY),
          { required: true },
          { class: 'custom-select' }
        ) 
      %>
    </div>

    <div class="form-group">
      <%= f.label(:job, 'Job') %>
      <%= 
        f.select(
          :job,
          options_for_select(Receipt::JOBS, Receipt::DEFAULT_JOB),
          { required: true },
          { class: 'custom-select' }
        ) 
      %>
    </div>

    <div class="form-group">
      <%= f.label(:payment_method, 'Payment Method') %>
      <%= 
        f.select(
          :payment_method,
          options_for_select(Receipt::PAYMENT_METHODS, Receipt::DEFAULT_PAYMENT_METHOD),
          { required: true },
          { class: 'custom-select' }
        ) 
      %>
    </div>

    <div class="form-group">
      <%= f.label(:vehicle_id, 'Vehicle (if applicable)') %>
      <%= 
        f.select(
          :vehicle_id,
          options_for_select([['Other', nil], *Vehicle.all.map { |v| [v.name, v.id] }], ['Other', nil]),
          {},
          { class: 'custom-select' }
        ) 
      %> 
    </div>

    <div class="form-group">
      <%= f.label(:cost, 'Amount') %>
      <%= f.number_field(:cost, {required: true, step: 0.01, class: 'form-control'}) %>
    </div>

    <div class="form-group">
      <%= f.label(:description, 'What did you buy?') %>
      <%= f.text_field(:description, class: 'form-control') %>
    </div>

    <label>Receipt Picture</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="receiptPhoto" name="receipt[photo]">
      <label class="custom-file-label" for="receiptPhoto">Photo</label>
    </div>
    

  <div class="form-group">
    <%= render 'form_components/bootstrap_submit_toggle', button_label: 'Submit' %>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({dateFormat: "dd/mm/yy"});
    $('.datepicker').datepicker('setDate', new Date());
  })
</script>

<script>
  $('#receiptPhoto').on('change',function(){
      //get the file name
      var fileName = $(this).val();
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
  })
</script>
