<div class="container">
  <%= render 'admin/common/back_button', back_link: '/receipts'%>

  <div class='content__box'>
    <div class='content__row-header'>
      Receipt
    </div>

    <div class='content__row-vertical'>
      <b>Arborist</b>
      <%= @receipt.arborist.name %>
    </div>

    <div class='content__row-vertical'>
      <b>Purchase</b>
      <%= "$ #{@receipt.cost} #{@receipt.category}" %>
    </div>

    <div class='content__row-vertical'>
      <b>Description</b>
      <%= @receipt.description %>
    </div>

    <div class='content__row-vertical'>
      <b>Job</b>
      <%= @receipt.job %>
    </div>

    <div class='content__row-vertical'>
      <b>Payment Method</b>
      <%= @receipt.payment_method %>
    </div>

    <div class='content__row-vertical'>
      <b>Image</b>
      <%= image_tag(@receipt.photo.url, class: 'receipt__image') %>
    </div>
  </div>
</div>
