<h5>Hours</h5>
<% if current_user.admin? %>
  <%= link_to('Download Tracker', report_work_records_path) %>
<% end %>

<div class="row">
  <div class="col s12">
    <ul class="collapsible" id="arborist-list">
      <%=
        render 'work_records/components/metric_container',
        metric: 'Day',
        grouped_records: @work_records.group_by { |w| w.date }.sort_by{ |date, _| date }
      %>

      <%=
        render 'work_records/components/metric_container',
        metric: 'Week',
        grouped_records: @work_records.group_by { |w| w.week_number }.sort_by{ |week, _| week }
      %>

      <%=
        render 'work_records/components/metric_container',
        metric: 'Month',
        grouped_records: @work_records.group_by { |w| w.date.strftime("%m - %B") }.sort_by{ |month, _| month }
      %>

      <%=
        render 'work_records/components/metric_container',
        metric: 'Year',
        grouped_records: @work_records.group_by { |w| w.date.strftime("%Y") }.sort_by{ |year, _| year }
      %>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  })
</script>
