<script>
  $(document).ready(function(){
    var options = {
      defaultDate: new Date(),
      setDefaultDate: true
    };


    $('.datepicker').datepicker(options);
    $('.start-timepicker').timepicker({defaultTime: '08:00 AM'});
    $('.end-timepicker').timepicker({defaultTime: '05:00 PM'});
  });
</script>

<script>
  function calculateHours() {
    try {
    var startTime = $("input[name='work_record[start_at]']").val();
    var endTime = $("input[name='work_record[end_at]']").val();
    var unpaid = $("input[name='work_record[unpaid_hours]']").val();
    
    if(startTime != '' && endTime != ''){
      var startDate = new Date('01/01/2020 ' + startTime);
      var endDate = new Date('01/01/2020 ' + endTime);
      var newHours = (endDate - startDate) / 1000 / 60 / 60;
      
      if(unpaid != undefined && unpaid != ''){
        newHours -= parseFloat(unpaid);
      }

      $("input[name='work_record[hours]'").val(newHours);
    }
    }catch( e ){
      console.log(e);
    }
  }
</script>

<div class="row">
  <div class="col s12">
    <h5>Record your hours</h5>
  </div>
</div>

<div class='picker-container'>

</div>

<%= form_for(@work_record) do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field('date', class: 'datepicker') %>
      <%= f.label(:date, 'Date') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <%= f.text_field(:start_at, class: 'start-timepicker', onchange: 'calculateHours()') %>
      <%= f.label(:start_at, 'Start Time') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field(:end_at, class: 'end-timepicker', onchange: 'calculateHours()') %>
      <%= f.label(:end_at, 'End Time') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.number_field(:unpaid_hours, {step: 0.01, onkeyup: 'calculateHours()'}) %>
      <%= f.label(:unpaid_hours, 'Unpaid Hours') %>
    </div>
  </div>

  <div class="row">
    <b>Total Hours</b> <br />
    <%= f.number_field('hours', readonly: true) %>
  </div>

  <div class="row">
    <%= submit_tag "Create", class: 'btn col s12 m6 offset-m3' %>
  </div>
<% end %>
