
  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('name') %>
      <%= form.label(:name, 'Name') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('certification') %>
      <%= form.label(:certification, 'Certification') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('email') %>
      <%= form.label(:email, 'Email') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('phone_number') %>
      <%= form.label(:phone_number, 'Phone') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('password') %>
      <%= form.label(:password, 'Password') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field('password_confirmation') %>
      <%= form.label(:password_confirmation, 'Password Confirmation') %>
    </div>
  </div>
