<div class="admin-page-header">
  <h5>Details</h5>
</div>

<%= form_for(@arborist, class: "col s12 m6 offset-m3") do |f| %>
  <input type="hidden" name="_method" value="patch">
  <%= render 'arborists/partials/arborist_details_form', form: f, active: true %>

  <div class="row">
    <%= submit_tag "Update", class: 'btn col s12 m6 offset-m3' %>
  </div>
<% end %>

<div class="admin-page-header">
  <h5>Change Password</h5>
</div>

<%= form_for(@arborist, class: "col s12 m6 offset-m3") do |f| %>
  <input type="hidden" name="_method" value="patch">
  <%= render 'arborists/partials/arborist_password_form', form: f %>

  <div class="row">
    <%= submit_tag "Change", class: 'btn col s12 m6 offset-m3' %>
  </div>
<% end %>
