<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="description" content='<%= yield(:description) %>'>
  <% if content_for?(:robots) %>
    <meta name="robots" content="<%= yield(:robots) %>" />
  <% else %>
    <meta name="robots" content="index" />
  <% end %>

  <link rel="canonical" href="http://bigtreeservices.ca/" />

  <%= csrf_meta_tags %>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PBWVZF5');</script>
  <!-- End Google Tag Manager -->

  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131458415-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-131458415-1');
  </script>

  <script>
    function toggleMenu() {
      var x = document.getElementById("navbar");
      var items = x.getElementsByTagName("li");

      for(var i = 0; i < items.length; ++i){
        if (items[i].className === "menu-item") {
            items[i].className = "menu-item-responsive";
        } else {
            items[i].className = "menu-item";
        }
      }
    }
  </script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" media="none" onload="this.media='all';">


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_pack_tag 'onboarding' %>
  <%= stylesheet_pack_tag 'onboarding' %>
</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBWVZF5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%= render 'layouts/common/header' %>


      <div id = "main-box">
        <%= yield %>
      </div>

  <%= render 'layouts/common/footer' %>


</body>
</html>
