<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'property_management' %>
  <%= stylesheet_pack_tag 'property_management' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id = "main-box">
      <%= yield %>
  </div>
</body>
</html>
